<div class="row">
	<div class="col-md-7">
		<div class="m-alert m-alert--icon m-alert--icon-solid m-alert--square m-alert--outline alert alert-brand alert-dismissible fade show" role="alert">
			<div class="m-alert__icon">
				<i class="flaticon-exclamation-1"></i>
				<span></span>
			</div>
			<div class="m-alert__text">
				<strong data-i18n="lk.presale">Pre-sale</strong>&nbsp;<span data-i18n="lk.in_progress">in progress</span>. <strong>1</strong> CWT-P = <strong>0.12</strong> USD
				<!-- ko if:obs.usersettings.ethAddress -->
				@*				, *@
				<br/>
				<span data-i18n="lk.your">Your</span>&nbsp;<strong data-i18n="lk.whitelisted">whitelisted</strong>
				<span>ERC-20 address:</span>
				<strong style="word-break: break-all;">
					<a data-bind="text:obs.usersettings.ethAddress, attr:{'href':('https://etherscan.io/address/'+ obs.usersettings.ethAddress())}"
					   target="_blank" href="#">
						<i style="margin-left: 30px" class="m-loader m-loader--brand"></i>
					</a>
				</strong>
				@*				,*@
				<!-- /ko -->

				@*				<!-- ko ifnot:obs.usersettings.ethAddress -->, <!-- /ko -->*@
				@*				*@
				@*				<span>Your ballance: </span> *@
				@*				<strong><!-- ko text:obs.sales.ballance --><!--/ko--></strong>*@
				@*				<span> CWT-P</span>*@
			</div>
			<div class="m-alert__close m--visible-mobile">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<div style="margin-bottom: 30px;" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-brand alert-dismissible fade show" role="alert">
			<div class="m-alert__icon">
				<i class="la la-warning"></i>
			</div>
			<div data-i18n="[html]lk.dont_send" class="m-alert__text">
				Do not send any ETH ammount directly to smart contract address,<br/>your transaction will be rejected.
			</div>
			<div class="m-alert__close m--visible-mobile">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
</div>