@*<div class="row">*@
@*	<div class="col-md-12">*@
@*		<div class="m-alert m-alert--icon m-alert--icon-solid m-alert--square m-alert--outline alert alert-brand alert-dismissible fade show" role="alert">*@
@*			<div class="m-alert__icon m--visible-desktop">*@
@*				<i class="la la-warning"></i>*@
@*			</div>*@
@*			<div class="m-alert__text">*@
@*				*@
@*				*@
@*				*@
@*				*@
@*				*@
@*			</div>*@
@*			<div class="m-alert__close m--visible-mobile">*@
@*				<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>*@
@*			</div>*@
@*		</div>*@
@*	</div>*@
@*</div>*@