		<div class="m-spinner m-spinner--brand m-spinner--lg"></div>
<div class="m-spinner m-spinner--primary m-spinner--lg"></div>
<div class="m-spinner m-spinner--success m-spinner--lg"></div>
<div class="m-spinner m-spinner--info m-spinner--lg"></div>
<div class="m-spinner m-spinner--warning m-spinner--lg"></div>
<div class="m-spinner m-spinner--danger m-spinner--lg"></div>