
.nohue .s-interview {
    display:block !important;
}

.s-ta_r{
    text-align:right;
}
.s-fs_06 {
    font-size:0.75em;
}
/*google-font*/

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.001);
}

::-webkit-scrollbar-thumb {
    background: #000;
}

.clear {
    clear: both
}
.home-a{
    position:relative;
    overflow: hidden;
}

.s-v_under {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0003;
}

#b-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
    #b-video {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    #b-video {
        width: 300%;
        left: -100%;
    }
}
@supports (object-fit: cover) {
    #b-video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.s-icon {
    display: inline-block;
    vertical-align: middle;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

a.button, .button {
    border: 4px solid #ffc808;
    /* border: 0 none; */
    border-radius: 180px/24px;
    color: #535353;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    padding: 14px 100px;
    border-left: none;
    border-right: none;
}

.button:disabled {
    cursor: not-allowed;
    border-color: #a78607;
}

.button:disabled:hover {
    border-radius: 180px/24px;
    color: #535353;
}

a.button:hover, .button:hover{
    border-radius: 180px/20px;
    color: #000000;
}

::-moz-selection {
    background: #00b0ff;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #00b0ff;
    color: #fff;
    text-shadow: none;
}

.no-mar {
    margin: 0!important;
}

.no-pad {
    padding: 0!important;
}

div#preloader {
    background: #0aafc2;
    background: -moz-linear-gradient(90deg, #0bb2c6 0%, #333b8c 100%);
    background: -webkit-linear-gradient(90deg, #0bb2c6 0%,#333b8c 100%);
    background: linear-gradient(90deg, #0bb2c6 0%,#333b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb2c6', endColorstr='#333b8c',GradientType=1 );
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header.navbar-fixed-top {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    left: 0;
    padding: 0;
    position: fixed !important;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-fixed-top .container {
    padding: 10px 15px;
}

.mar-bot-50 {
    margin-bottom: 50px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

.mar-bot-35 {
    margin-bottom: 35px;
}

.mar-bot-30 {
    margin-bottom: 30px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-55 {
    margin-top: 55px;
}

.mar-top-108 {
    margin-top: 108px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #888;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    letter-spacing: 1px;
}



/* 
Table Of Contents
=========================
- Default Typography
- Custom Typography
=========================
*/


/* 
--------------------------
- Default Typography
--------------------------
*/

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
}

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        font-weight: inherit;
        font-family: 'Montserrat', sans-serif;
    }

svg {
    font-family: 'Montserrat', sans-serif !important;
}
    
h1 {
    font-size: 36px;
    line-height: 70px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    line-height: 27px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0;
}

p img {
    margin: 0;
}

span {
    /*font-family: 'Open Sans', sans-serif;*/
}



/* em and strong */

em {
    font: 15px/30px;
}

strong,
b {
    font: 15px/30px;
}

small {
    font-size: 11px;
    line-height: inherit;
}


.s-mt_10 {
    margin-top:10px;
}

/*  blockquotes */



/* links */

a,
a:visited{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #111;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}
.button{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a:hover,
a:active {
    color: #1a83af;
    text-decoration: none;
    outline: 0;
}

.mobile_menu_show {
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

p a,
p a:visited {
    line-height: inherit;
    outline: 0;
}

a.active-page {
    color: #e6ae48!important;
}



/* list */

ul,
ol {
    margin-bottom: 0px;
    margin-top: 0px;
}

ul {
    margin: 0;
}

ol {
    list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 0px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 0px;
}

li {
    line-height: 18px;
    margin-bottom: 0px;
}

ul.large li {}

li p {}



/* definition list */

dl {
    margin: 12px 0;
}

dt {
    margin: 0;
    color: #11ABB0;
}

dd {
    margin: 0 0 0 20px;
}

button {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.mobile-menu button {
    transition: none;
}


/* 
--------------------------
- Custom Typography
--------------------------
*/


/* Your Custom Typography. */

.bg-with-black {
    position: relative;
}

.bg-with-black::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.bg-with-white {
    position: relative;
}

.bg-with-white::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.bg-with-blue {
    position: relative;
}

.bg-with-blue::before {
    background: #00bff3 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.hvr-bs:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span.bold {
    font-weight: 700;
}

span.semibold {
    font-weight: 600;
}


/*  2. Home 1
/*---------------------------------------*/

.section-title {
    text-align: center;
}

.section-title h2 {
    color: #000000;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
    margin: 0 0 33px;
    padding: 0 0 26px;
    position: relative;
    text-transform: uppercase;
}

.section-title.white,
.section-title.white h4{
    color:#fff;
}

.section-title h2 span {
    font-family: 'Montserrat', sans-serif;
    /*font-weight: 700;*/
}

.section-title h2::after {
    /*background-image: url("../img/icon/logo-icon.png");*/
    background-size: contain;
    bottom: 0;
    content: "";
    height: 8px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 38px;
    border-radius: 8px;
    background: #0aafc2;
    background: -moz-linear-gradient(45deg, #333b8c 0%, #0bb2c6 100%);
    background: -webkit-linear-gradient(45deg, #333b8c 0%,#0bb2c6 100%);
    background: linear-gradient(45deg, #333b8c 0%,#0bb2c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b8c', endColorstr='#0bb2c6',GradientType=1 );
}

.section-title h4 {
    color: #313232;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 38px;
}

.darkside .section-title h4 {
    color: #828282;
}

.darkside h4{
    color:#dadada;
}

.section-title p {
    color: #4d595a;
    line-height: 26px;
    font-size:18px;
}

header > .container {
    padding: 20px 15px;
}

.logo {}

.logo a {
    color: #444444;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 0;
    position: relative;
    text-transform: capitalize;
}

.logo-label {
    font-weight:400;
    vertical-align: middle;
}

.s-main-logo {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 55px;
    margin-right: 10px;
}

.menu {}

.s-pos_r {
    position: relative;
}

.menu ul {
    list-style: outside none none;
    padding: 0;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    margin: 0 5px;
    text-align: left;
}

.menu ul li a {
    color: #444444;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    padding: 16px 5px;
    text-transform:uppercase;
}

.menu ul li.active a {
  color: #05739f;
}

.menu ul li.active a.btn {
    color: #fff;
}

/*custom-mobile-menu*/

.custom-mobile-menu-area {}

.mobile-menu {

    background: #fff none repeat scroll 0 0;
    padding: 0px 0 0px;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
}

.navbar-fixed-top  .mobile-menu button {
    opacity:1;
    position: relative;
}

.mobile-menu button {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    color: #222222;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 45px;
    padding: 15px 16px;
    width: auto;
    display: inline-block;
    font-size: 32px;
    /*opacity:0;*/
    /*position: absolute;*/
    opacity:1;
    position: relative;
}

.mobile-menu i.fa-align-justify {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 10px 16px;
    color: #343434;
    font-size: 37px;
    margin-top: 8px;
}

.mobile-menu i.fa-align-justify.collapsed:before {
    content: "\f039" !important;
}

.navbar-fixed-top .mobile-menu i.fa-align-justify {
    top: 11px;
}

.mobile-menu ul {
    /*background: #f8f8f8 none repeat scroll 0 0;*/
    /*padding: 0;*/
    background: #ffffff none repeat scroll 0 0;
    padding: 0;
}

.mobile-menu ul li {
    /* display: block; */
    /* border-top: 1px solid #ddd; */
    /* padding: 3px 18px; */
    display: block;
    border-top: 1px solid #d2d2d2;
    padding: 3px 18px;
}

.mobile-menu ul li a {
    color: #3d4652;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
}

.mobile-menu ul li a:hover {
    color: #1a83af;
}



/*search*/
.dropdown-menu>li>a {
    color:#333 !important;
}


/*  2.2 Home 1 Hero
/*----------------------------------------*/
.home1-hero-area {
    padding: 160px 0 250px;
  
    /*background: url('/static/ban.png') 0 100% no-repeat;*/
    background: linear-gradient(-191deg, #0473ab 54%,#0F1536 86%);
    background-size: cover;
}
.s-black-o {
    background: url('/static/ban3.png') 0 0 no-repeat;
    background-size: cover;
}


.mobile-menu button:first-letter {
    color: #1c6ca4;
}

.home1-hero-left {}

.h1hl-title {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 63px;
    margin: 0 0 40px;
}

.s-h1__sub {
    font-size:24px;
    line-height:1.2;
    font-weight: 300;
    text-transform:uppercase;
}

.h1-h2sub {
    /*text-align: center;*/
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: 18px;
}

.h1hl-text {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin: 0 0 48px;
}

.h1hl-text span {
    font-style: italic;
    font-weight: 600;
}

.how-can-help {}

.how-can-help .hch-img {
    display: inline-block;
}

.how-can-help .hch-img img {
    border-radius: 100px;
    height: 44px;
}

.how-can-help .sch-content {
    border: 2px solid #f5f5f5;
    border-radius: 25px;
    display: inline-block;
    margin: 0 0 0 9px;
    padding: 15px 22px;
    position: relative;
}


.s-lang_changer {
    top: 10px;
}

a.s-lang_changer__toggle {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.how-can-help .sch-content::before {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #f5f5f5;
    border-left: 2px solid #f5f5f5;
    content: "";
    height: 10px;
    left: -9px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    width: 10px;
}

.how-can-help .sch-content p {
    color: #4c4c4c;
    line-height: 20px;
    padding-right: 53px;
    position: relative;
}

.how-can-help .sch-content a {
    color: #ffc80a;
    display: inline-block;
    font-size: 35px;
    position: absolute;
    right: 0;
    top: -8px;
}

.home1-hero-right {
    text-align: right;
}

.home1-hero-right_img {
    max-width: 96%;
    margin: -40px auto 0;
}

/*2.3 Download*/

.download-area {
    padding: 138px 0 136px;
}

.donwload-left {
    text-align: center;
    position: relative;
    left: -110px;
}

.donwload-left img {
    animation: 3s ease 0s normal none infinite running bounce;
}

.download-right {
    margin: 45px 0 0;
}

.download-right .section-title {
    margin: 0 0 17px;
    text-align: left;
}

.download-right .section-title h2 {}

.download-right .section-title h2::after {
    left: 0;
    right: auto;
}

.download-right .dl-list {
    list-style: outside none none;
    margin: 0 0 39px;
    padding: 0;
}

.download-right .dl-list li {
    color: #4d595a;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 33px;
    padding-left: 30px;
    position: relative;
}

.download-right .dl-list li::before {
    color: #22b9ca;
    content: "";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
}

.download-right .dl-download {
    list-style: outside none none;
    margin: 0 0 32px;
    padding: 0;
}

.download-right .dl-download li {
    display: inline-block;
}

.download-right .dl-download li a {
    background: #21b9ca none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 38px;
    padding: 13px 30px;
}

.download-right .dl-download li:nth-child(2) a {
    background: #f7ba4d none repeat scroll 0 0;
}

.download-right .dl-download li a span {
    display: none;
    font-size: 15px;
    line-height: 21px;
    margin-left: 20px;
    opacity: 0;
    position: relative;
    text-transform: uppercase;
    top: -4px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}

.download-right .dl-download li a:hover span {
    display: inline-block;
    opacity: 1;
    visibility: visible;
}

.download-right .dl-text {
    color: #4d595a;
    line-height: 26px;
}

.download-right .dl-text span {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.download-right .dl-text a {
    color: #4d595a;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}


/*2.5 Feature*/
.s-ta_c {
    text-align: center;    
}

.s-mr_10 {
    margin-right:10px;
}

.single-team.s-ta_c{
    display:block;
}

.sketchfab-embed-wrapper {
    text-align: center;
}
/*2.9 Team*/

.team-area {
    padding: 135px 0 0;
    /*border-right: 9px solid #eaeaea;*/
    /*border-radius: 676px;*/
}

.screenshot-head .section-title {}

._single-team {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.s-mb_60 {
    margin-bottom:60px !important;
}

img.s-prev {
    transition: all ease 1s;
    position: absolute;
    z-index: 11;
    right: -75px;
    width: 80px !important;
    border-radius: 50% !important;
    border: 5px solid #fff;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    bottom: -69px;
    visibility:hidden;
}

.single-team:hover > img.s-prev{
    visibility:visible;
}

.single-team {
    /* display: inline-block; */
    overflow: hidden;
    position: relative;
    /*height: 170px;*/
    /* height: 54%; */
    width: 184px;
    /*min-height:184px;*/
    border-radius: 5000px;
    /* box-shadow: -6px -13px 4px 0px #eaeaea; */
    /* box-shadow: -6px -13px 0px 0px #eaeaea; */
    margin: 0 auto 18px;
    /* border: 1px solid #757575; */
    border-bottom: 0;
    border-right: 0;
    box-shadow: -4px 2px 0px 9px #0000001f;
}

.single-team img {
    width:100%;
    text-indent: 1000px;
    border-radius: 500px;
}

.s-ta_l {text-align:left}

.single-team:hover {
    overflow: visible;
}

.st-content-under{
    /*text-align:center;*/
    /*font-size: 14px;*/
    /*padding:0 15px 49px;*/
    /*color:#fff;*/
    
    /*text-transform: uppercase;*/
    /*text-shadow: -1px 0 0 #5d5d5d;*/

    text-align: center;
    font-size: 10px;
    padding: 0 15px 49px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -1px 0 0 #5d5d5d;
    line-height: 1.8;
}

.h-grey {
    /*filter: grayscale();*/
    transition: all 1s ease;
}

._single-team a{
    display: block;
    height:53px;
    
    font-weight: 700;
    vertical-align: middle;
    line-height: 53px;
}

.h-grey:hover {
    filter: none;
}

.single-team .st-content {
    /*background: rgba(33, 185, 202, 0.9) none repeat scroll 0 0; */
background: rgb(255, 255, 255) none repeat scroll 0 0;
    bottom: 0;
    left: -50px;
    opacity: 0;
    padding: 25px 30px 90px;
    position: absolute;
    right: -50px;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    box-shadow: 0px 6px 8px 0px #22222257;
    /* border-top: 3px solid #ffc918; */
    /* filter: blur(0px); */
}
h2.duga, .duga {
    border-top: 7px solid #eaeaea;
    border-radius: 1000px/27px;
    padding-top: 20px;
}
h2.duga::after {
    background-image:none;
}

.g-style:first-letter {
    /*color:#555;*/
    font-size:1.5em
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}

.feature-area td,
.feature-area th {
    color:#fff;
}

.single-team:hover .st-content {
    opacity: 1;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    visibility: visible;
}

.single-team .st-content h5 {
    color: #222222;
    display: inline-block;
    letter-spacing: 0;
    margin-right: 8px;
    padding-right: 26px;
    position: relative;
    /*font-family: "Raleway", sans-serif;*/
    margin-bottom: 20px;
}

.single-team .st-content h5::after {
    content: "";
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
}

.single-team .st-content > p,
div.single-team_st-content{
    color: #222;
    display: inline-block;
    font-size: 14px;
    max-height: 300px;
    overflow: auto;
    padding-right: 15px;
    margin-right: -15px;
}

.s-mb_9 {
    margin-bottom:9px;
}

.social-w{
    bottom: 18px;
    left: 24px;
    position: absolute;
    right: 24px;
    border-top: 3px solid #10a3bf;
    padding-top: 15px;
}

.single-team .st-content a {
    background: #222222 none repeat scroll 0 0;
    border-radius: 100px;
    /* bottom: 20px; */
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 36px;
    /* left: 24px; */
    line-height: 36px;
    /* position: absolute; */
    text-align: center;
    width: 36px;
}

/*2.14 Footer*/

footer,
footer a,
footer p,
footer span{
    /*background: #f4f4f4 none repeat scroll 0 0;*/
    color: #e8e8e8 !important;    
}


.subscribe-area {
    padding: 144px 0 50px;
    position: relative;
}

.subscribe {}

.button.no-h:hover {
    color: #e0e0e0;
}

.subscribe-input-box {
    display: inline-block;
    position: relative;
}

.subscribe-input-box span {
    color: #404040;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 10px;
}

.subscribe-input-box input[type="text"] {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-bottom: 1px solid #c7c7c7;
    /*color: #fff;*/
    font-size: 14px;
    height: 48px;
    letter-spacing: 0;
    line-height: 48px;
    padding: 0;
    width: 100%;
}

.subscribe-input-box input[type="email"] {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-bottom: 1px solid #c7c7c7;
    /*color: #fff;*/
    font-size: 14px;
    height: 48px;
    letter-spacing: 0;
    line-height: 48px;
    padding: 0;
    width: 100%;
}

.sib-name {
    padding: 0 30px;
    width: 40%;
}

.sib-email {
    padding: 0 0;
    width: 40%;
}

.sib-submit {
    width: 19%;
}

.sib-submit input[type="submit"] {
    background-color: transparent;
}

.subscribe-text {
    color: #404040;
    font-weight: 400;
    line-height: 18px;
    margin: 34px 0 0;
}

.footer-available-area {
    padding: 26px 0 60px;
}

.footer-bottom-area {
    border-top: 1px solid #cecece;
    padding: 46px 0 26px;
}

.s-specs {
    color: #fff;
    font-size: 13px;
    margin-bottom: 36px;
    line-height: 1.4;
}

.fba-logo {}

.fba-logo .logo {
    display: inline-block;
    margin-right: 20px;
}

.fba-logo p {
    color: #aeaeae;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
}

.fba-links {
    list-style: outside none none;
    padding: 0;
}

.fba-links li {
    display: inline-block;
    margin-right: 30px;
}

.fba-links li a {
    color: #3d4652;
    display: block;
    font-weight: 300;
    letter-spacing: 0;
}

.fba-social {
    list-style: outside none none;
    padding: 0;
    text-align: right;
}

.fba-social li {
    display: inline-block;
    margin-right: 6px;
}

.fba-social li:last-child {
    margin-right: 0;
}

.fba-social li a {
    color: #aeaeae;
    display: block;
}

.home2-hero-area {
    background: #21b9ca none repeat scroll 0 0;
    padding: 193px 0 68px;
    position: relative;
}

.h2ha-banner {
    background-image: url("../img/home2/hero-banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    position: absolute;
    right: 2%;
    top: 0;
    width: 50%;
}

.h2h-available {}

.h2h-available .available-links {
    list-style: outside none none;
    padding: 0;
}

.h2h-available .available-links li {
    display: inline-block;
}

.h2h-available .available-links li a {}

.s-logo {
    position: absolute;
/* top: 0; */
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 37px;
    width: 40px;
    opacity: .75;
}


.send-msg-area {
    padding: 76px 0 152px;
}

.send-msg {}


.error-area {
    background: rgba(0, 0, 0, 0) url("../img/404/bg.jpg") no-repeat scroll center center / cover;
    padding: 217px 0 166px;
}

.error {}

.error h1 {
    color: #333333;
    /*font-family: open sans;*/
    font-size: 150px;
    letter-spacing: 0;
    line-height: 160px;
    margin: 0 0 26px;
}

.error p {
    color: #777777;
    font-size: 42px;
    font-weight: 500;
    line-height: 46px;
    margin: 0 0 33px;
}

.error a {
    background: #21b9ca none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    padding: 9px 48px;
    text-transform: capitalize;
}



/*----------------------------------------*/


/*  11. Coming
/*----------------------------------------*/
.container-s {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    color:#444;
}

.white-popup.success {
    background: #007fff;
    color:#fefefe;
}

.navbar-fixed-top .l-switcher i.fa-globe {
    color:#9e9e9e;
}
.navbar-fixed-top .l-switcher {
    top:27px;
}

.single-team .st-content a {
    background: #fff;
    color:#444;
}

.mobile-menu .dropdown-menu {
    top: -90%;
    right: -68%;
    left: auto;
}

.b-change-color {
    position: fixed;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 32px;
    background-color: #000;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
    opacity: 0.95;
    transition: all ease-in-out .5s;
    display:none !important;
}

.l-switcher {
    right: 71px;
    margin: auto;
    text-align: center;
    z-index: 10;
    float: right;
    margin-top: 25px;
}


.open .fa-angle-down:before {
    content: "\f106";
}


a.btn, .btn {
    display: inline-block;
    padding: 6px 16px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none !important;
}

a.btn:visited,
a.btn:focus{
	color:#fff;
}

a.btn:hover,
a.btn:hover{
    opacity:0.85;
}

.btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-group-sm>.btn, .btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: 400;
}

.btn.btn-round {
    border-radius: 20px;
}


.btn.btn-g,
.btn.btn-g:active,
.btn.btn-g:hover,
.btn.btn-g:visited{
    color: #fff;
    background: #0aafc2;
    background: -moz-linear-gradient(45deg, #0bb2c6 0%, #333b8c 100%);
    background: -webkit-linear-gradient(45deg, #0bb2c6 0%,#333b8c 100%);
    background: linear-gradient(45deg, #0bb2c6 0%,#333b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb2c6', endColorstr='#333b8c',GradientType=1 );
    border: none;
    text-shadow: 1px 0 0 #5f5f5f;
}

.btn.btn-b,
.btn.btn-b:active,
.btn.btn-b:hover,
.btn.btn-b:visited{
    color: #fff;
    background: none;
    border: 1px solid #fff;
}

.b-sol {
    background: #0aafc2;
    background: -moz-linear-gradient(45deg, #0bb2c6 0%, #333b8c 100%);
    background: -webkit-linear-gradient(45deg, #0bb2c6 0%,#333b8c 100%);
    background: linear-gradient(45deg, #0bb2c6 0%,#333b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb2c6', endColorstr='#333b8c',GradientType=1 );
    border-radius: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    color: #fff;
    
}

.white .section-title p,
.white .section-title h2,
.white .section-title h4 {
    color: #fff;
}

.white .section-title h2::after {
    background: #fff !important;
}

.s-mb_27 {
    margin-bottom:27px;
    
}

.grad {
    background: #0aafc2;
    background: -moz-linear-gradient(45deg, #0bb2c6 0%, #333b8c 100%);
    background: -webkit-linear-gradient(45deg, #0bb2c6 0%,#333b8c 100%);
    background: linear-gradient(45deg, #0bb2c6 0%,#333b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb2c6', endColorstr='#333b8c',GradientType=1 );
}

.grad-g {
    background: #0aafc2;
    background: -moz-linear-gradient(90deg, #0bb2c6 0%, #333b8c 100%);
    background: -webkit-linear-gradient(90deg, #0bb2c6 0%,#333b8c 100%);
    background: linear-gradient(90deg, #0bb2c6 0%,#333b8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb2c6', endColorstr='#333b8c',GradientType=1 );
}

.section-title.left,
.section-title.left h2,
.section-title.left span,
.section-title.left p {
    text-align:left;
}
.section-title.left h2::after {
    margin: 0;
}
.b-2-devices {
    position: relative; margin-top: -100px; width: 100%;
    max-width: 409px;
}
.s-padd {
    padding-top: 70px;
    padding-bottom: 70px;
}

.c-000211 {
    background-color: #000211;
    color:#fff;
}

.s-ta_r {
    text-align:right;
}

.s-delim {
    padding-bottom:70px;margin-bottom:68px;
    border-bottom:2px solid #fff;
}

a.btn.btn-lg,
.btn.btn-lg {
    padding: 40px 50px;
    margin-bottom: 0;
    font-size: 28px;    
}


.s-tt_u {
    text-transform:uppercase;
}

.s-spec_i {
    font-size: 17px;
    font-weight: 300;
}

a.btn.btn-lg.s, .btn.btn-lg.s {
    padding: 17px 40px;
    font-size: 28px;
    border: 1px solid #fff;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #0c1c3a;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

a.btn.btn-lg.btn-round,
.btn.btn-lg.btn-round {
    border-radius: 108px;
}

.s-fs_16 {
    font-size:16px;
}

.s-fs_18 {
    font-size:18px;
}

.s-fs_25 {
    font-size:25px;
}

.s-mb_20 {
    margin-bottom:20px;
}

.b-news {
    border-radius: 25px;
    box-shadow: 3px 4px 31px 3px rgba(0, 0, 0, 0.36);
    line-height: 1.6;
    height:420px;
    position: relative;
    margin-bottom: 20px;
}

.b-news-top {
    overflow: hidden;
    height: 200px;
    border-radius: 25px 25px 0 0;
    background-size: cover;
}


.b-news_img {
width:100%;
    
}

.b-news-bottom {
    padding: 0 30px 30px;
    background-color:#fff;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
}

.b-news_date {
    font-size:12px;
    color:#777;
    padding:10px 0;
}


.b-news_title {
 font-size:15px;
    margin-bottom:15px;
    font-weight: 700;
}


.b-news_content {

    font-size:11px;
    word-wrap: break-word;
    
    
}

.b-news-bottom.overhead {
    bottom: 0;
    left:0;
    right:0;
    color:#fff;
    background-color: transparent;
    position: absolute;
    text-shadow: -1px 1px 1px #000;
}

.b-news-bottom.overhead .b-news_date {
    font-weight: 700;
    font-size: 26px;
    color: #fff;
}

.b-news.overhead .b-news-top {
    height:420px;
}
.b-news.overhead {
    background-color: #fff;
    overflow: hidden;
}

.container-fluid .row {
    padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
    background: #F1F4F5;
}

.example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
}
.example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}

.example-centered * {
    color:#fff;
}

.s-mb_18 {
    margin-bottom:18px;
}

.s-fs_20 {
    font-size:20px;
}


.navbar-fixed-top .custom-mobile-menu-area {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8; }

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box; }

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
    display: none; }

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }

.mfp-ajax-cur {
    cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
    cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }

.mfp-loading.mfp-figure {
    display: none; }

.mfp-hide {
    display: none !important; }

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
.mfp-preloader a {
    color: #CCC; }
.mfp-preloader a:hover {
    color: #FFF; }

.mfp-s-ready .mfp-preloader {
    display: none; }

.mfp-s-error .mfp-content {
    display: none; }

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation; }

button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
    opacity: 1; }
.mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
    color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap; }

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
    margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
    left: 0; }
.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
    right: 0; }
.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
.mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
    line-height: 0; }
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
.mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px; }

.mfp-image-holder .mfp-content {
    max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
				 * Remove all paddings around the image on small screen
				 */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0; }
    .mfp-img-mobile img.mfp-img {
        padding: 0; }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px; }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0; }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px; }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0; } }

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75); }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0; }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%; }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px; } }



.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55)
}


.fba-social-i
{
    padding:0;
}
.fba-social-i li {
    display: block;
    text-align:center;
    margin-bottom:10px;
}

.fba-social-i li i {
    color:#fff;
}

.outsider {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 170px;
    margin: auto;
    padding: 20px 7px 10px 10px;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom:10px;
}

.panel-group .panel {
    margin-bottom: 20px;
    border-radius: 4px;
}

.panel-default {
    border-color: #1b84b0;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #1b80ae;
    border-color: #26629f;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-transform: uppercase;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}
.panel-body {
    padding: 15px;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
}