<footer class="footer">
	<div class="footer_in">
		<div class="footer_head">
			<h2 class="footer_logo">Crypto<span class="weight_mod">WorkPlace</span></h2>
			<span class="footer_copy">© 2018 All rights reserved</span>
		</div>
		<div class="footer_body">
			<div class="footer_address_w">
				<div class="footer_address_text">Czech Republic, <br>Prague Stepanska 704/61, <br>11000 Praha 1-Nove Mesto</div>
			</div>
			<div class="footer_social">
				<ul class="social_list footer_mod">
					<li class="social_item footer_mod ">
						<a class="social_link footer_mod tel_mod" href="https://t.me/joinchat/Fh5zlk097Vw3P78vKLWfBg" target="_blank">
							<svg class="icon icon-teleg size_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#teleg"></use>
							</svg>
						</a>
					</li>
					<li class="social_item footer_mod ">
						<a class="social_link footer_mod tw_mod" href="https://twitter.com/cryptoworkplace" target="_blank">
							<svg class="icon icon-tw size_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#tw"></use>
							</svg>
						</a>
					</li>
					<li class="social_item footer_mod ">
						<a class="social_link footer_mod fb_mod" href="https://www.facebook.com/cryptoworkplace/" target="_blank">
							<svg class="icon icon-fb size_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#fb"></use>
							</svg>
						</a>
					</li>
					<li class="social_item footer_mod ">
						<a class="social_link footer_mod git_mod" href="https://github.com/cryptoworkplace" target="_blank">
							<svg class="icon icon-gith size_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#gith"></use>
							</svg>
						</a>
					</li>
					<li class="social_item footer_mod ">
						<a class="social_link footer_mod bit_mod" href="#" target="_blank">
							<svg class="icon icon-bitc size_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#bitc"></use>
							</svg>
						</a>
					</li>
					<li class="social_item footer_mod ">
						<a class="social_link footer_mod inst_mod" href="#" target="_blank">
							<svg class="icon icon-inst size_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#inst"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<div class="footer_phones">
				<ul class="footer_phones_list">
					<li class="footer_phone_item">
						<span class="flag_w"><img class="flag_img" src="~/gteam/i/fl-1.png" alt=""/></span>
						<a class="footer_phone_link" href="tel:+420728931549">+420 728 931 549</a>
					</li>
					<li class="footer_phone_item">
						<span class="flag_w"><img class="flag_img" src="~/gteam/i/fl-2.png" alt=""/></span>
						<a class="footer_phone_link" href="tel:+447937255544">+44 7937 255544</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer_bottom">
			The CryptoWorkPlace Token Sale, Terms of Token Sale, Presentation and the Whitepaper and any documents related to the Token Sale do not constitute a prospectus or offering document and are not an offer to sell nor the solicitation of an offer to buy an investment, security, share, equity interest or debt nor a derivative interest of any of the foregoing. The sale of CryptoWorkPlace Tokens constitutes the sale of a software product under the laws of Czech Republic. CryptoWorkPlace Tokens are not intended to be a digital currency, security, commodity, bond, debt instrument or any kind of financial instrument or investment carrying equivalent rights, nor are CryptoWorkPlaceTokens intended to represent any form of money in any jurisdiction, nor any representation of money (including electronic money). The Token Sale involves the development and use of experimental software and technologies that may not achieve the objectives specified in the whitepaper and related documents. The purchase of CryptoWorkPlace Tokens represents a high risk to any purchaser.
		</div>
	</div>
</footer>