<header class="header">
	<div class="header_info">
		<div class="section_in header_mod">
			<div class="menu_w_trigger menuTrigger">
				<div class="menu_trigger">
					<span class="menu_trigger_decor"></span>
				</div>
			</div>
			<div class="presale">
				<div class="presale_title">Token presalse is</div>
				<div class="presale_indicator">
					<div class="presale_indicator_title">Live</div>
				</div>
			</div>
			<div class="header_info_in">
				<a class="btn_join header_mod" href="https://t.me/joinchat/Fh5zlk097Vw3P78vKLWfBg" target="_blank">
					<span class="btn_join_title">Join our Telegram</span>
					<div class="btn_join_w_icon">
						<svg class="icon icon-teleg telegram_mod accent_mod">
							<use xlink:href="/gteam/i/sprite/sprite.svg#teleg"></use>
						</svg>
					</div>
				</a>
				<div class="social_wrap">
					<span class="social_wrap_title">Subscribe:</span>
					<ul class="social_list header_mod">
						<li class="social_item header_mod hidden_mod">
							<a class="social_link header_mod" href="https://t.me/joinchat/Fh5zlk097Vw3P78vKLWfBg" target="_blank">
								<svg class="icon icon-teleg social_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#teleg"></use>
								</svg>
							</a>
						</li>
						<li class="social_item header_mod ">
							<a class="social_link header_mod" href="https://twitter.com/cryptoworkplace" target="_blank">
								<svg class="icon icon-tw social_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#tw"></use>
								</svg>
							</a>
						</li>
						<li class="social_item header_mod ">
							<a class="social_link header_mod" href="https://www.facebook.com/cryptoworkplace/" target="_blank">
								<svg class="icon icon-fb social_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#fb"></use>
								</svg>
							</a>
						</li>
						<li class="social_item header_mod ">
							<a class="social_link header_mod" href="https://github.com/cryptoworkplace" target="_blank">
								<svg class="icon icon-gith social_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#gith"></use>
								</svg>
							</a>
						</li>
						<li class="social_item header_mod ">
							<a class="social_link header_mod" href="https://bitcointalk.org/index.php?topic=5065546.msg47698321#msg47698321" target="_blank">
								<svg class="icon icon-bitc social_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#bitc"></use>
								</svg>
							</a>
						</li>
						<li class="social_item header_mod ">
							<a target="_blank" class="social_link header_mod" href="https://instagram.com/cryptoworkplace">
								<svg class="icon icon-inst social_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#inst"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header_nav">
		<div class="section_in header_mod">
			<a class="logo header_mod" href="/">
				<svg class="icon icon-logo header_mod">
					<use xlink:href="/gteam/i/sprite/sprite.svg#logo"></use>
				</svg>
				<span class="logo_span">CWP</span>
			</a>
			<nav class="main_menu header_mod">
				<div class="main_menu_in">
					<a class="logo accent_mod main_menu_mod" href="#">
						<img class="logo_img" src="~/gteam/i/logo_white.png" alt="CWP"/>
					</a>
					<ul class="main_menu_list header_mod">
						<li class="main_menu_item active_mod"><a class="main_menu_link" href="#how">About CWP</a></li>
						<li class="main_menu_item"><a class="main_menu_link" href="#tokens">Token Distribution</a></li>
						<li class="main_menu_item"><a class="main_menu_link" href="#roadmap">Vision Outline</a></li>
						<li class="main_menu_item"><a class="main_menu_link" href="#team">Team</a></li>
					</ul>
					<a class="btn_base header_mod" href="/file/CWP_White_Paper_en.pdf" target="_blank">White paper</a>
@*					<div class="lang_menu">*@
@*						<div class="lang_list">*@
@*							<a class="lang_item active_mod" href="#">*@
@*								<div class="lang_img_wrap">*@
@*									<img class="lang_img" src="~/gteam/i/eng.png" alt="lang flag"/></div>*@
@*								<div class="lang_title">Eng</div>*@
@*							</a>*@
@*							<a class="lang_item" href="#">*@
@*								<div class="lang_img_wrap">*@
@*									<img class="lang_img" src="~/gteam/i/jap.png" alt="lang flag"/></div>*@
@*								<div class="lang_title">Jap</div>*@
@*							</a>*@
@*							<a class="lang_item" href="#">*@
@*								<div class="lang_img_wrap">*@
@*									<img class="lang_img" src="~/gteam/i/rus.png" alt="lang flag"/></div>*@
@*								<div class="lang_title">Rus</div>*@
@*							</a>*@
@*						</div>*@
@*						<div class="lang_control"></div>*@
@*					</div>*@
				</div>
			</nav>
		</div>
	</div>
</header>