<section class="section hero_mod">
	<div class="section_in">
		<div class="hero_block">
			<div class="hero_block_in">
				<h2 class="section_title hero_mod">Micro-PC Powered by Linux with Built-in CryptoStorage</h2>
				<div class="btn_w_info">
					<a class="btn_info" href="https://cryptoworkplace.io/file/CWP_White_Paper_en.pdf" target="_blank">
						<div class="btn_info_w_icon">
							<svg class="icon icon-doc btn_info_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#doc"></use>
							</svg>
						</div>
						<span class="btn_info_title">Read White Paper</span>
					</a>
					<a class="btn_info hidden_mod" href="#">
					<div class="btn_info_w_icon">
						<svg class="icon icon-play_second btn_info_mod">
							<use xlink:href="/gteam/i/sprite/sprite.svg#play_second"></use>
						</svg>
					</div>
					<span class="btn_info_title">CEO explains</span></a></div>
			</div>
			<div class="hero_block_row">
				<div class="hero_block_col statistic_mod">
					<div class="token_distrib">
						<div class="token_distrib_block mod_1">
							<div class="token_distrib_block_circle"></div>
							<div class="token_distrib_block_info">Raised on closed round</div>
							<span class="token_distrib_block_title">Soft cap</span>
						</div>
						<div class="token_distrib_block mod_2">
							<div class="token_distrib_block_circle"></div>
							<span class="token_distrib_block_title">Total raised</span><span class="token_distrib_block_count">8,031,902 CWT-P</span>
						</div>
						<div class="token_distrib_block mod_3">
							<div class="token_distrib_block_circle"></div>
							<span class="token_distrib_block_title">Hard cap</span><span class="token_distrib_block_count">15,000,000 CWT-P</span>
						</div>
					</div>
					<div class="buy_info">
						<div class="buy_info_heading"><span class="buy_info_time">17 minutes ago</span>
							<div class="buy_info_close">
								<svg class="icon icon-close buy_info_mod accent_mod">
									<use xlink:href="/gteam/i/sprite/sprite.svg#close"></use>
								</svg>
							</div>
						</div>
						<div class="buy_info_body"><span class="buy_info_descr">Someone from China bought CWT-P Tokens for <b>1.0001 LTC</b></span>
						</div>
					</div>
				</div>
				<div class="hero_block_col info_mod">
					<div class="hero_block_w_button">
						<a class="btn_buy" href="https://cryptoworkplace.io/Account/Login#m-login--signup" target="_blank">BUY CWT-TOKEN</a>
						<a class="btn_play hero_mod hidden_mod" href="#">
						<div class="btn_play_w_icon">
							<svg class="btn_play_icon" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg"
									 viewBox="0 0 47.67 47.67">
								<path d="M24,1.17A22.83,22.83,0,1,1,1.17,24,22.83,22.83,0,0,1,24,1.17Z"
											transform="translate(-0.17 -0.17)" style="fill:#1b1b1b"></path>
								<path class="btn_play_icon_in"
											d="M24,47.83A23.83,23.83,0,1,1,47.83,24,23.86,23.86,0,0,1,24,47.83ZM24,2.17A21.83,21.83,0,1,0,45.83,24,21.86,21.86,0,0,0,24,2.17Z"
											transform="translate(-0.17 -0.17)" style="fill:#1210ff"></path>
								<path class="btn_play_icon_in" d="M32,23.58l-12,8v-16Z" transform="translate(-0.17 -0.17)"
											style="fill:#1210ff"></path>
							</svg>
						</div>
						<span class="btn_play_title">Video instruction</span></a></div>
					<div class="timer">
						<div class="timer_info"><span class="timer_info_title accent_mod">40% Public Presale Discount. </span><span
								class="timer_info_title">Time left till price rise:</span>
							<div class="timer_in">
								<div class="timer_count day_mod js-day">0</div>
								<div class="timer_descr">days</div>
								<div class="timer_count decor_mod hour_mod js-hour">0</div>
								<div class="timer_count decor_mod hour_mod js-min">0</div>
								<div class="timer_count decor_mod hour_mod js-seconds">0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>