<section class="section" id="how">
	<div class="section_in">
		<h2 class="section_title">How It Works</h2>
		<div class="how_it_wrap">
			<div class="how_it_img_wrap">
				<img class="how_it_img" src="~/gteam/i/how_it_works.png" alt="How It Works">
				@* @Html.Partial("_HowItWorksAnimation") *@
				<div class="how_it_cells_wrap">
					<img class="how_it_cells" src="~/gteam/i/cells_bg.png" alt="cells background">
				</div>
			</div>
			<div class="how_it_text">
				<p>The programs are executed in the environment isolated from the computer - donor. User data are encrypted on the device (by user’s choice) that creates a solid defense to guard against hackers.</p>
				<p>
					System prevents all existing security problems:<br>
					Phishing - by using the pre-configured browser and applications, signed by a unique key;<br>
					Exploits - by working in an isolated environment and by signing programs;<br>
					Hacker attacks - by using built-in unbreakable crypto-storage.
				</p>
			</div>
		</div>
	</div>
</section>