@using System
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="private, max-age=86000" />
    <meta name="keywords" content="cwp, cryptoworkplace, crypto computer, cryptostorage, personal data protection, cwp ico, ico">
    <meta name="description" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/ms-icon-144x144.png">
    @*    <meta name="theme-color" content="#1d7dac">*@
    <meta name="theme-color" content="#000">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="yandex-verification" content="91a7b09b04e22c2a" />
    <meta name="google-site-verification" content="AL-yKDxObhWAd9APEc6iOJ4I_uvP7QAZG-nznxHtaks" />

    <!-- START - Open Graph for Facebook, Google+ and Twitter Card Tags 2.2.4.1 -->
    <!-- Facebook Open Graph -->
    <meta property="og:locale" content="en" />
    <meta property="og:title" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta property="og:url" content="http://www.cryptorally2018.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta property="og:image" content="/static/CWP2.svg" />
    <!-- Google+ / Schema.org -->
    <meta itemprop="name" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta itemprop="headline" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta itemprop="description" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta itemprop="image" content="/static/CWP2.svg" />
    <!--<meta itemprop="publisher" content="Crypto Rally 2018"/>--> <!-- To solve: The attribute publisher.itemtype has an invalid value -->
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta name="twitter:url" content="http://www.cryptorally2018.com" />
    <meta name="twitter:description" content="CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER" />
    <meta name="twitter:image" content="/static/CWP2.svg" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- SEO -->
    <!-- Misc. tags -->
    <!-- is_singular -->
    <!-- END - Open Graph for Facebook, Google+ and Twitter Card Tags 2.2.4.1 -->

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/owl.carousel.css" />
        <link rel="stylesheet" href="~/css/responsive.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/owl.carousel.css" />
        <link rel="stylesheet" href="~/css/responsive.css" />
    </environment>
    <environment exclude="Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img style="-ms-opacity:.5; opacity:.5" src="/images/upload-1ffb4430-ad5b-11e8-b16c-bfc0a5bea17c.png" /> <span class="b-logo-text">CWP</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-i18n="nav.about" class="smoothscroll" href="#home">About CWP</a></li>
                    <li><a data-i18n="nav.vision" class="smoothscroll" href="#vision">Vision Outline</a></li>
                    <li><a data-i18n="nav.token" class="smoothscroll" href="#token">Token Distribution</a></li>
                    <li><a data-i18n="nav.team" class="smoothscroll" href="#team">Team</a></li>
                    <li>
                        <a target="_blank" class="btn btn-square btn-border-outline btn-white btn-lg"
                           href="/static/docs_/CWP_White_Paper_en.pdf">
                            <i class="far fa-file-alt"></i>&nbsp;<span class="futurabook" data-i18n="nav.whitepaper">Whitepaper</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()
    </div>
    <footer>
        <div class="b-block">
            <div class="container">
                <div class="clear b-footer-top">
                    <a class="s-cwp futurabook" href="#">Crypto<strong class="futura">WorkPlace</strong></a>

                    <div class="s-float_r futurabook">© @DateTime.Now.Year All rights reserved</div>
                </div>

                <div class="clear b-footer-middle">
                    <a class="footer futurabook" target="_blank" href="http://maps.google.com/?q=Czech Republic, Prague Stepanska 704/61,11000 Praha 1-Nove Mesto">
                        Czech Republic, Prague Stepanska 704/61,<br />11000 Praha 1-Nove Mesto
                    </a>

                    <div class="s-float_r">
                        <img width="15" src="~/images/upload-120e90a0-b483-11e8-bbb3-1d56c6c15ad6.png" class="s-icon s-mr_10" />
                        <a class="footer_b footer s-mr_30 futurabook" href="tel:+420728931549">
                            +420 728 931 549
                        </a>
                        <img width="15" src="~/images/upload-0648c8b0-b10b-11e8-a9c9-37849140bb9e.png" class="s-icon s-mr_10" />
                        <a class="footer_b footer futurabook" href="tel:+447937255544">
                            +44 7937 255544
                        </a>
                    </div>
                </div>
                <div class="b-footer-policy">The CryptoWorkPlace Token Sale, Terms of Token Sale, Presentation and the Whitepaper and any documents related to the Token Sale do not constitute a prospectus or offering document and are not an offer to sell nor the solicitation of an offer to buy an investment, security, share, equity interest or debt nor a derivative interest of any of the foregoing. The sale of CryptoWorkPlace Tokens constitutes the sale of a software product under the laws of Czech Republic. CryptoWorkPlace Tokens are not intended to be a digital currency, security, commodity, bond, debt instrument or any kind of financial instrument or investment carrying equivalent rights, nor are CryptoWorkPlaceTokens intended to represent any form of money in any jurisdiction, nor any representation of money (including electronic money). The Token Sale involves the development and use of experimental software and technologies that may not achieve the objectives specified in the whitepaper and related documents. The purchase of CryptoWorkPlace Tokens represents a high risk to any purchaser.</div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/i18next-1.11.2/i18next-1.11.2.js"></script>
        <script type="text/javascript" src="~/js/timer/index.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/i18next-1.11.2/i18next-1.11.2.js"></script>
        <script type="text/javascript" src="~/js/timer/index.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
