<!-- outsider -->
<div class="outsider">
    <ul class="fba-social-i">
        <li><a href="https://www.facebook.com/cryptoworkplace/" target="_blank" data-toggle="tooltip" title="Facebook">
                <i class="fab fa-2x fa-facebook-f"></i>
            </a>
        </li>
                        
        <li>
            <a href="https://twitter.com/cryptoworkplace" data-toggle="tooltip" target="_blank" title="Twitter">
                <i class="fab fa-2x fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/cryptoworkplace" target="_blank" data-toggle="tooltip" title="GitHub">
                <i class="fab fa-2x fa-github"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://t.me/joinchat/Fh5zlk097Vw3P78vKLWfBg" data-toggle="tooltip" title="Telegram">
                <i class="fab fa-2x fa-telegram-plane"></i>
            </a>
        </li>
    </ul>
</div>
<!-- end ousider -->