<div id="partners" class="b-block b-stn-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 data-i18n="" class="b-block-h c-stn-1">
                    Our Partners
                </h2>
            </div>
        </div>
        
        <div class="js-owl owl-drag owl-carousel">
            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="http://www.icape-group.com/">
                        <img class="h-grey" width="50" src="~/images/partners/icape.png" alt="ICAPE GROUP" />
                    </a>
                    <div class="s-mb_9">
                        The factories of the company will organize the production of Micro-PC CWP, output control and download of the firmware.
                    </div>
                </div>
            </div>
            
            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="https://kintarocells.com">
                        <img class="h-grey" width="50" src="~/images/partners/cells.png" alt="CELLS POWER JAPAN" />
                    </a>
                    <div class="s-mb_9">
                        The Japanese company KintaroCells Power is 
                        an innovator in the field of cellular medicine.Potential corporate customer.
                    </div>
                </div>
            </div>

            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="https://www7.universa.io/">
                        <img class="" width="100" src="~/images/partners/universa.png" alt="universa" />
                    </a>
                    <div class="s-mb_9">
                        Succesfully ended Crowdsale. Launched. One of the fastest blockchain protocols on the Planet.
                    </div>
                </div>
            </div>  

            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="http://www.qamentor.com/">
                        <img class="h-grey" width="200" src="~/images/partners/qa.png" alt="QA MENTOR" />
                    </a>
                    <div class="s-mb_9">
                        An American company; a leader in software 
                        and hardware testing.
                    </div>

                </div>
            </div>

            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="https://adcase.ru">
                        <img class="h-grey" width="100" src="~/images/partners/adcase.png" alt="adcase" />
                    </a>
                    <div class="s-mb_9 s-p_030">
                        An American company; a leader in software 
                        and hardware testing.
                    </div>
                </div>
            </div>

        
        
            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="https://armpack.io">
                        <img class="h-grey" width="100" src="~/images/partners/arm.png" alt="armpack" />
                    </a>
                    <div class="s-mb_9">
                        Succesfully ended Crowdsale, Decentralized protection against counterfeiting
                    </div>
                </div>
            </div>
            
            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="https://glory-event.com">
                        <img class="h-grey" width="100" src="~/images/partners/glory.png" alt="glory" />
                    </a>
                    <div class="s-mb_9">
                        Succesfully ended Crowdsale, Decentralized protection against counterfeiting
                    </div>
                </div>
            </div>
            
            <div class="s-ta_c">
                <div class="b-part-item s-ta_c">

                    <a target="_blank" href="http://cryptocean.io/">
                        <img class="h-grey" width="100" src="~/images/partners/cocean.png" alt="CRYPTOCEAN" />
                    </a>
                    <div class="s-mb_9">
                        An American company; a leader in software 
                        and hardware testing.
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>