<div class="b-presale"> 
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <span class="b-token-pre-label s-icon" data-i18n="">Token presale is</span>
        <ul class="b-label-live s-icon">
          <li class="b-label-live--item">
            <div class="b-label-live--item-dot"></div>
            <a class="live-link" target="_blank" href="~/Account/Login#m-login--signup">
              <span data-i18n="" class="b-label-live--item_span">live</span>
            </a>
          </li>
        </ul>
      </div>
      <div style="padding-top: 4px;padding-bottom:4px" class="col-md-6 col-xc-6 s-ta_r">
        
        <a class="b-main_link-join s-icon" target="_blank" href="https://t.me/joinchat/Fh5zlk097Vw3P78vKLWfBg" data-toggle="tooltip" title="Telegram">
          <strong class="hidden-xs s-mr_10 b-main_link-join--fake">Join our Telegram</strong> 
          <i class="fab fa-2x fa-telegram s-icon"></i>
        </a>
      
        <div class="b-socials s-icon">
          <strong class="hidden-xs futura s-icon s-mr_10" data-i18n="">Subscribe:</strong>
          <a href="https://twitter.com/cryptoworkplace" data-toggle="tooltip" target="_blank" title="Twitter">
            <i class="fab fa-1-5x fa-twitter s-icon"></i>
          </a>
          <a href="https://www.facebook.com/cryptoworkplace/" target="_blank" data-toggle="tooltip" title="Facebook">
            <i class="fab fa-1-5x fa-facebook-f s-icon"></i>
          </a>
          <a href="https://github.com/cryptoworkplace" target="_blank" data-toggle="tooltip" title="GitHub">
            <i class="fab fa-1-5x fa-github s-icon"></i>
          </a>
          <a href="#">
            <i class="fab fa-1-5x fa-bitcoin s-icon"></i>
          </a>
          <a href="#">
            <i class="fab fa-1-5x fa-instagram s-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
