<div class="b-presale"> 
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="b-token-pre-label" data-i18n="">Token presale is</span>
        <ul class="b-label-live">
          <li class="b-label-live--item">
            <span data-i18n="" class="b-label-live--item_span">live</span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <a data-i18n="" class="b-main_link" href="#">Join our Telegram</a>
        <i class="fab fa-2x fa-telegram-plane"></i>
      
        <div class="b-socials">
          <strong data-i18n="">Subscribe: </strong>
          <a href="#">
            <i class="fab fa-2x fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-2x fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-2x fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-2x fa-bitcoin"></i>
          </a>
          <a href="#">
            <i class="fab fa-2x fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
