<section class="section black_mod" id="team">
	<div class="section_in">
		<h2 class="section_title">Our Team</h2>
		<ul class="team_list">
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-741103b0-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Yoji Kishi</h3><span class="team_title">CEO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/yoji-kishi-70108610b/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr"><p>Rare type of High-edge Japanese technology specialist with wide international marketing experience.</p></div>
						<ul class="team_features_list">
							<li class="team_features_item">Shin-Nippon Research (Hong Kong) Co., Ltd. Vice-President</li>
							<li class="team_features_item">International Society of Stem Cells Development, Director</li>
							<li class="team_features_item">5hz Medical Supplies(Xiamen, China) Co., Ltd.Vice - president</li>
							<li class="team_features_item">Kintaro Cells Power Co., Member of Board of Director</li>
							<li class="team_features_item">Ryukyukan International Kobudo Karate Federation, Honor Member</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-792ab580-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Alexey Gladkov</h3><span class="team_title">CVO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/alexei-gladkov-04b03b14b/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<ul class="team_features_list">
							<li class="team_features_item">Kintaro Power Cells Japan President</li>
							<li class="team_features_item">MapMess Inc.Regional Director</li>
							<li class="team_features_item">Founding director of the research company AV - Cells Singapore</li>
							<li class="team_features_item">30 years of experience in running own business</li>
							<li class="team_features_item">20 years of doing business in Singapore and Japan</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="team_item" id="teamAnchor">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-7b860aa0-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Maxim Maslich</h3><span class="team_title">CTO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/mmaslich/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr"><p>An expert in the management of the software development process, the construction of distributed, highly loaded and secure systems.</p><p>Development of transport monitoring systems (cargo, passenger cars, special equipment, passenger transportation, weight control, production line control, taxi park automation) for Alrosa, GAZPROM, Lukoil, Rusal, RZD, Satori, Autoline, city taxi.</p></div>
						<ul class="team_features_list">
							<li class="team_features_item">Microsoft Certified Professional</li>
							<li class="team_features_item">Microsoft Certified Technology Specialist Exam 511</li>
							<li class="team_features_item">Blockchain and smart contracts developer</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<ul class="team_hidden_list">
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-7bb69080-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Artur Enokian</h3><span class="team_title">Software Engineer</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/%D0%B0%D1%80%D1%82%D1%83%D1%80-%D0%B5%D0%BD%D0%BE%D0%BA%D1%8F%D0%BD-726a5387/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/profile.php?id=100010889670400">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<ul class="team_features_list">
							<li class="team_features_item">Software Engineer</li>
							<li class="team_features_item">Senior JavaScript Developer Full - Stack</li>
							<li class="team_features_item">Certified Middle End Android Developer</li>
							<li class="team_features_item">Certified Middle End iOS Developer</li>
							<li class="team_features_item">Java EE, С#, PHP, Lua, Python, GO developer</li>
							<li class="team_features_item">Unity 3D developer</li>
							<li class="team_features_item">Expert in developing Highload applications</li>
							<li class="team_features_item">Custom Trading Platforms Development</li>
							<li class="team_features_item">Development of special software for major retailers</li>
							<li class="team_features_item">Cryptography, electronic document management</li>
							<li class="team_features_item">Development of special software for the Ministry of Defense of Russia</li>
							<li class="team_features_item">Development of special software and participation in the development of software and hardware for federal agencies of the Russian Federation</li>
							<li class="team_features_item">Development of special software - for monitoring and managing network security</li>
							<li class="team_features_item">Development of implemented collector agents for analyzing and collecting data on network and peripheral PC activity</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-805ac430-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Anton Polansky</h3><span class="team_title">Head of Hardware Production</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/anton-polyansky-400a5a156/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<ul class="team_features_list">
							<li class="team_features_item">Head of Hardware Production</li>
							<li class="team_features_item">Hardware Engineer</li>
							<li class="team_features_item">Embedded Software Engineer</li>
							<li class="team_features_item">Microcomputer Systems Expert</li>
							<li class="team_features_item">Development of circuit solutions, trace of printed circuit boards and development of embedded software for thermal imaging devices</li>
							<li class="team_features_item">Development of circuit design solutions, trace of printed circuit boards for low - level devices of the Quinta music recognition system</li>
							<li class="team_features_item">Development of circuit solutions and trace of printed circuit boards for Smart House devices</li>
							<li class="team_features_item">Development of microminiature biometric sensors and processor control system for bioelectrical upper limb prosthesis</li>
							<li class="team_features_item">Development of embedded data transmission systems based on Wi - Fi, GSM and Bluetooth technologies</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-80aefeb1-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Denis Kuznetsov</h3><span class="team_title">Head Mathematican</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D0%BA%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BE%D0%B2-814352118/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Lead Mathematician, Senior Architect Developer. Embedded Systems Programmer. Expert in Machine Learning and AI. Development of an agent for the conduct of non-targeted dialogue in the banking system. Development Telegram-bots with AI support. Embedded Software Development for Quinta Music Recognition System Devices. Co-author of a patent for music recognition algorithms</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-84c6f7f0-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Anton Maslov</h3><span class="team_title">Senior System Analyst</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/%D0%B0%D0%BD%D1%82%D0%BE%D0%BD-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE%D0%B2-232701156/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Senior System Analyst, PHP-Developer. Optimization and automation of DAICHI logistics business processes. System analytics of multimodule high-loaded systems with various integrations for METRO C & C, Lenta. The development of a supply planning system for TOC (Theory of Constraints) for the production of IKEA, integrated with 1C. Product development and positioning management.</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-85256ba1-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Alexander Fedko</h3><span class="team_title">CFO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/profile.php?id=100008518817564">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">CEO at Advise Finance LLC. An expert in financial market and risk management, founder & CEO at Advise Finance LLC.</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-88652d50-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Oleg Sarukhanov</h3><span class="team_title">CMO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/profile.php?id=100011271487659">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/oleg-sarukhanov-74332416/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Co-founder and COO of Glory Event Agency LLC., In event &amp; marketing since 2006, experience with international brands on major projects (BIC, General Electric)</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-88aa2591-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Danil Tcytkin</h3><span class="team_title">Digital Creative</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/Danil.Tcytkin">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/danil-tcytkin-3b488247/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Red Dot Award owner. Creative producer, worked with biggest adverticement agencies, like ADV holding, and bests creative butiques like MOST Creative Club. Made campains for Coca-Cola, Tele2, Apple, Gazprom, Unilever, Hyundai.</div>
					</div>
				</div>
			</li>
			<li class="team_item title_mod">
				<h2 class="section_title">Advisers</h2>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-935aa210-b4de-11e8-b9ea-432078d2319d.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Alexander Podelko</h3><span class="team_title">Ph.D., MBA</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/alexanderpodelko/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/alexander.podelko">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Ph.D., MBA An expert in software development and testing Member of the Board of Directors of the Computer Measurement Group Oracle, Consulting Member of Technical Staff Hyperion, Distinguished Performance Engineer Aetna, Sr. Architect II</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-a5864660-b4de-11e8-a621-1dda4f429ede.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Sergey Sagalovitch</h3><span class="team_title">Principal Member of Technical Staff at AMD</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/serguei-sagalovitch-a162a34/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">An expert in software development including design and implementation of device drivers and embedded systems, as well as graphics and compute solutions with the strict robust and security requirements. Serguei has experience working with customers on product delivery. Serguei has experience working with small and big companies including Nortel and AMD in positions of Team Lead as well as Principal Member of Technical Staff. Serguei has experience working with scientific organizations including University of Vienna. Serguei has been co-authors of several patent applications. Serguei has more than 25 years of experience.</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-8e58eb70-b4e6-11e8-a0c9-8dd9face81ec.png" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Wagan Sarukhanov</h3><span class="team_title">FlexLab CEO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/sarukhanov/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/wagan.sarukhanov">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">CEO Flexlab Blockchain researcher and expert 30 years of experience in contract manufacturing of electronics and software More than 20 projects in various industries Mentor Wagan's competencies help the project in the business development and technical issues of product development and manufacturing</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/photo_2018-09-30_18-51-11.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Vasiliy Fedko</h3><span class="team_title">CFO </span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Vasiliy Fedko has a wealth of experience as a founder & CFO in several development companies. Licensed auditor.</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-88e336f1-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Nikolay Fedorovskikh</h3><span class="team_title">Executive Business Developmern, Universa Corporation</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/nikfedorov/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Over 11 years’ experience in TVMedia, VAS & Data field. Strong focus on Telecom/Media with expertise in DVB/IPTV/ Online Video (OTT), VAS, CDN. Creating overall architecture and engineering of complex TV & Pilot Blockchain projects. Proven track record in identifying customer needs and implementing technical strategies to secure long-term revenue growth on TV/Media markets (IPTV, VOD, OTT, CDN).</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-89156a81-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Yuriy Myshinsky</h3><span class="team_title">CryptOcean.io Founder &amp; CEO</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.linkedin.com/in/yury-myshinskiy/">
									<svg class="icon icon-linkedin_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#linkedin_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">Experience of successful founding of companies and management in the field of information technologies. The implementation of infrastructure projects for large state and international companies. Crypto enthusiast. Investor in fintech, startups, and ICO.</div>
					</div>
				</div>
			</li>
			<li class="team_item">
				<div class="team_col img_mod">
					<div class="team_img_w"><img class="team_img" src="/images/team/upload-893d3dd0-b4e6-11e8-a0c9-8dd9face81ec.jpg" alt=""/></div>
				</div>
				<div class="team_col">
					<div class="team_head">
						<div class="team_head_col">
							<h3 class="team_name">Dmitry Ryzhkov</h3><span class="team_title">LuneCase Co-Founder</span>
						</div>
						<div class="team_head_col social_mod">
							<ul class="social_list team_mod">
								<li class="social_item team_mod"><a class="social_link team_mod" href="https://www.facebook.com/people/Dmitry-Ryzhkov/100009556131162">
									<svg class="icon icon-facebook_c size_mod">
										<use xlink:href="/gteam/i/sprite/sprite.svg#facebook_c"></use>
									</svg></a></li>
							</ul>
						</div>
					</div>
					<div class="team_body">
						<div class="team_descr">The businessman, the crypto-currency investor. Co-founder of a successful international brand LuneCase. ICO adviser, a pool of more than $15,000,000.</div>
					</div>
				</div>
			</li>
		</ul><a class="team_more moreTeamLink" href="#teamAnchor">
		<div class="team_more_in normal_mod">All Team</div>
		<div class="team_more_in active_mod">FOLD LIST</div>
		<div class="team_more_line">
			<svg class="team_more_svg_wrap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="956" height="16" viewBox="0 0 956 16">
				<path id="lb59a" d="M161 7199h456.48c.45 0 20.52 15 20.52 15s16.71-15 18.66-15H1118"></path>
				<g transform="translate(-160 -7198)">
					<use class="team_more_svg" fill="#fff" fill-opacity="0" stroke="#1211ff" stroke-dasharray="0 4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2" xlink:href="#lb59a"></use>
				</g>
			</svg>
		</div></a>
	</div>
</section>