@{
	var data = new[] {
		new {
			Name = "Yoji Kishi",
			Title = "CEO",
			Src = "/images/team/upload-741103b0-b4e6-11e8-a0c9-8dd9face81ec.png"
		},
		new {
			Name = "Alexey Gladkov",
			Title = "CVO",
			Src = "/images/team/upload-792ab580-b4e6-11e8-a0c9-8dd9face81ec.png"
		},
		new {
			Name = "Maxim Maslich",
			Title = "CTO",
			Src = "/images/team/upload-7b860aa0-b4e6-11e8-a0c9-8dd9face81ec.png"
		},
		new {
			Name = "Artur Enokian",
			Title = "Software Engineer",
			Src = "/images/team/upload-7bb69080-b4e6-11e8-a0c9-8dd9face81ec.jpg"
		},
	};
}

<ul class="team_list">
	@foreach (var item in data) {
		<li class="team_item">
			<div class="team_col img_mod">
				<div class="team_img_w">
					<img class="team_img" src="@(item.Src)">
				</div>
			</div>

			<div class="team_col">
				<div class="team_head">
					<h3 class="team_name">@item.Name</h3>
					<span class="team_title"></span>
				</div>
			</div>
		</li>
	}
</ul>

<!--<section class="section black_mod">-->
	<!--<div class="section_in">-->
		<!--<h2 class="section_title">Our Team</h2>-->
		<!--<ul class="team_list">-->
			<!--<li class="team_item">-->
				<!--<div class="team_col img_mod">-->
					<!--<div class="team_img_w">-->
						<!--<img class="team_img" src="~/gteam/i/team/yoji.png" alt=""/>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="team_col">-->
					<!--<div class="team_head">-->
						<!--<div class="team_head_col">-->
							<!--<h3 class="team_name">Yoji Kishi</h3>-->
							<!--<span class="team_title">CEO</span>-->
						<!--</div>-->
						<!--<div class="team_head_col social_mod">-->
							<!--<ul class="social_list team_mod">-->
								<!--<li class="social_item team_mod">-->
									<!--<a class="social_link team_mod">-->
										<!--<svg class="icon icon-link-c size_mod">-->
											<!--<use xlink:href="~/gteam/i/sprite/sprite.svg#link-c"></use>-->
										<!--</svg>-->
									<!--</a>-->
								<!--</li>-->
								<!--<li class="social_item team_mod">-->
									<!--<a class="social_link team_mod">-->
										<!--<svg class="icon icon-fb-c size_mod">-->
											<!--<use xlink:href="~/gteam/i/sprite/sprite.svg#fb-c"></use>-->
										<!--</svg>-->
									<!--</a>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="team_body">-->
						<!--<div class="team_descr">-->
							<!--<p>A rare type of High-edge Japanese technology software microminiature biometri for thermal imaging specialist with  vast international marketing experience.</p>-->
						<!--</div>-->

						<!--<ul class="team_features_list">-->
							<!--<li class="team_features_item">-->
								<!--<strong>Microcomputer Systems Expert</strong>-->
							<!--</li>-->
							<!--<li class="team_features_item">-->
								<!--Development of circuit solutions, trace of printed circuit boards and development of embedded software for thermal imaging devices.-->
							<!--</li>-->
							<!--<li class="team_features_item">-->
								<!--Development of circuit design solutions, trace of printed circuit boards for low-level devices of the Quinta music recognition system.-->
							<!--</li>-->
							<!--<li class="team_features_item">-->
								<!--Development of circuit solutions and trace of printed circuit boards for Smart House devices.-->
							<!--</li>-->
							<!--<li class="team_features_item">-->
								<!--Development of microminiature biometric sensors and processor control system for bioelectrical upper limb prosthesis.-->
							<!--</li>-->
							<!--<li class="team_features_item">-->
								<!--Development of embedded data transmission systems based on Wi-Fi, GSM, and Bluetooth technologies.-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->
<!--</section>-->