@*<div>*@
@*  <span class="b-timer-part">sales started</span>*@
  @*  <i class="far fa-clock s-mr_10 b-timer-clock"></i>*@
  @*  <span class="js-day b-timer-count">0</span>*@
  @*  <span data-i18n="timer.day" class="b-timer-part">day</span>*@
  @*  <span class="js-hour b-timer-count">0</span>*@
  @*  <span data-i18n="timer.hour" class="b-timer-part">hour</span>*@
  @*  <span class="js-min b-timer-count">0</span>*@
  @*  <span data-i18n="timer.min" class="b-timer-part">min</span>*@
@*</div>*@

