<div>
@*    <i class="far fa-clock s-mr_10 b-timer-clock"></i>*@
    <span class="js-day b-timer-count">0</span>
    <span data-i18n="timer.days" class="b-timer-part">days</span>
    <span class="js-hour b-timer-count">0</span>
    <span class="b-timer-part">:</span>
    <span class="js-min b-timer-count">0</span>
    <span class="b-timer-part">:</span>
    <span class="js-seconds b-timer-count">0</span>
</div>

