<div>
  <i class="far fa-clock s-mr_10 b-timer-clock"></i>
  <span class="js-day b-timer-count">0</span>
  <span class="b-timer-part">day</span>
  <span class="js-hour b-timer-count">0</span>
  <span class="b-timer-part">hour</span>
  <span class="js-min b-timer-count">0</span>
  <span class="b-timer-part">min</span>
</div>