<div class="section no_offset_mod">
	<div class="video_w">
		<div class="video_btn">
			<svg class="icon icon-play_second video_mod">
				<use xlink:href="~/gteam/i/sprite/sprite.svg#play_second"></use>
			</svg>
		</div>
		<div class="video_bg_w">
			<img class="video_bg" src="~/gteam/i/video_poster.jpg" alt="video poster">
		</div>
		<video class="full_video" id="player" controls crossorigin playsinline>
			<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4">
		</video>
	</div>
</div>