<div class="section no_offset_mod">
	<div class="video_w">
		<div class="video_btn">
			<svg class="icon icon-play_second video_mod">
				<use xlink:href="/gteam/i/sprite/sprite.svg#play_second"></use>
			</svg>
		</div>
		<div class="video_bg_w">
			<img class="video_bg" src="~/gteam/i/video_poster.jpg" alt="video poster">
		</div>
		<div class="full_video" id="player" controls crossorigin playsinline data-plyr-provider="youtube" data-plyr-embed-id="4b9ZSRxHFYo"></div>
	</div>
</div>