@model BarModel

<section class="section bg_mod" id="tokens">
    <div class="section_in">
        <h2 data-i18n="token_d" class="section_title">Token Distribution</h2>
        <div class="distribution_schedule_w">
            <div class="distribution_schedule_top">
                <span class="distribution_title_w pos_1">
                    <span data-i18n="presale" class="distribution_title">Presale</span>
                </span>
                <span class="distribution_title_w pos_2">
                    <span data-i18n="sale" class="distribution_title">Sale</span>
                </span>
            </div>
            <div class="distribution_schedule_body">
                <div class="distribution_schedule_list">
                    <div class="distribution_schedule_item v1_mod">
                        <div class="discuont_info_percent">
                            <span class="percent_bold">40%</span>&nbsp;
                            <span data-i18n="discount">discount</span>
                        </div>
                        <div class="discuont_info_text">15,000,000 CWT-P <span class="percent_accent">(3%)</span></div>
                    </div>
                    <div class="distribution_schedule_item">
                        <div class="discuont_info_percent">
                            <span class="percent_bold">30%</span>&nbsp;
                            <span data-i18n="discount">discount</span>
                        </div>
                        <div class="discuont_info_text">62,500,000 CWT <span class="percent_accent">(12,5%)</span></div>
                    </div>
                    <div class="distribution_schedule_item">
                        <div class="discuont_info_percent">
                            <span class="percent_bold">20%</span>&nbsp;
                            <span data-i18n="discount">discount</span>
                        </div>
                        <div class="discuont_info_text">62,500,000 CWT <span class="percent_accent">(12,5%)</span></div>
                    </div>
                    <div class="distribution_schedule_item">
                        <div class="discuont_info_percent">
                            <span class="percent_bold">10%</span>&nbsp;
                            <span data-i18n="discount">discount</span>
                        </div>
                        <div class="discuont_info_text">62,500,000 CWT <span class="percent_accent">(12,5%)</span></div>
                    </div>
                    <div class="distribution_schedule_item">
                        <div class="discuont_info_percent">
                            <span class="percent_bold">0%</span>&nbsp;
                            <span data-i18n="discount">discount</span>
                        </div>
                        <div class="discuont_info_text">62,500,000 CWT <span class="percent_accent">(12,5%)</span></div>
                    </div>
                </div>
            </div>
            <div class="distribution_schedule_bottom">
                <span class="schedule_line v1_mod"></span>
                <span class="schedule_line v2_mod"></span>
                <span class="schedule_line v3_mod"></span>
                <span class="dot_el pos_1"></span>
                <span class="dot_el pos_2"></span>
                <span class="dot_el pos_3"></span>
                <span class="dot_el pos_4"></span>
                <span class="dot_el pos_5"></span>
                <span class="dot_el pos_6"></span>
                <span class="dot_el pos_7"></span>
                <span class="dot_el pos_8"></span>
                <span class="schedule_dots_line v1_mod">
                    <span class="schedule_dots_line_title">
                        <span data-i18n="soft_cap" class="accent_style">Soft Cap</span>
                        &nbsp;
                        <span data-i18n="raised_ocr_s">raised on closed round</span>
                    </span>
                </span>
                <span class="schedule_dots_line v2_mod">
                    <span class="schedule_dots_line_title">
                        <span class="accent_style">
                            @Model.Sold.ToString("N0", new NumberFormatInfo() { NumberGroupSeparator = " " })
                        </span>
                        <span data-i18n="cwtp_raised">CWT-P raised</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="distribution_info_w">
            <div class="distribution_info_col v1_mod">
                <ul class="distribution_info_list">
                    <li class="distribution_info_item">
                        <span class="distribution_info_title price_mod">1 CWT-P</span>
                        <div class="distribution_price_w">
                            <span class="distribution_price old_mod">$0.20</span><span class="distribution_price">$0.12</span>
                        </div>
                    </li>
                    <li class="distribution_info_item">
                        <span data-i18n="p_discount" class="distribution_info_title">Presale discount</span>
                        <span class="distribution_info_value">40%</span>
                    </li>
                    <li class="distribution_info_item">
                        <span data-i18n="t_avail" class="distribution_info_title">Tokens available now</span><span class="distribution_info_value">
                            @((Model.Cap - Model.Sold).ToString("N0", new NumberFormatInfo() { NumberGroupSeparator = " " })) / @Model.Cap.ToString("N0", new NumberFormatInfo() { NumberGroupSeparator = " " })
                        </span>
                    </li>
                    <li class="distribution_info_item">
                        <span data-i18n="soft_cap" class="distribution_info_title">Soft cap</span><span class="distribution_info_value">$240K</span>
                    </li>
                    <li class="distribution_info_item">
                        <span data-i18n="hard_cap" class="distribution_info_title">Hard cap</span><span class="distribution_info_value">$1,8M</span>
                    </li>
                </ul>
                <div class="distribution_btn_w">
                    <a data-i18n="buy_cwt_t" class="btn_buy white_mod" href="/Account/Login#m-login--signup" target="_blank" onclick="ga('send', 'event', 'forms', 'Whitelist'); yaCounter50462326.reachGoal('Whitelist'); return true;">BUY CWT-TOKEN</a>
                    <a class="btn_play distribution_mod hidden_mod" href="#">
                        <div class="btn_play_w_icon">
                            <svg class="btn_play_icon" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 47.67 47.67">
                                <path d="M24,1.17A22.83,22.83,0,1,1,1.17,24,22.83,22.83,0,0,1,24,1.17Z"
                                      transform="translate(-0.17 -0.17)" style="fill:none"></path>
                                <path class="btn_play_icon_in"
                                      d="M24,47.83A23.83,23.83,0,1,1,47.83,24,23.86,23.86,0,0,1,24,47.83ZM24,2.17A21.83,21.83,0,1,0,45.83,24,21.86,21.86,0,0,0,24,2.17Z"
                                      transform="translate(-0.17 -0.17)" style="fill:#ffffff"></path>
                                <path class="btn_play_icon_in" d="M32,23.58l-12,8v-16Z" transform="translate(-0.17 -0.17)"
                                      style="fill:#ffffff"></path>
                            </svg>
                        </div>
                        <span data-i18n="video_instr" class="btn_play_title">Video instruction</span>
                    </a>
                </div>
            </div>
            <div class="distribution_info_col v2_mod">
                <div class="distribution_info_head">
                    <h3 data-i18n="why_b_t_now" class="why_info_title">Why Buy Tokens Now?</h3>
                    <ul class="why_info_list">
                        <li data-i18n="lim_i_o_t" class="why_info_item">Limited issue of tokens</li>
                        <li data-i18n="p_discount" class="why_info_item">Presale discount</li>
                    </ul>
                </div>
                <div class="why_info_icons_w">
									<span data-i18n="we_acc" class="why_info_icon_title">We accept:</span>
									<img class="pay_icons" src="~/gteam/i/we_accept.png" alt="">
									<span data-i18n="and_other" class="why_info_icon_title v1_mod">and other.</span>
                </div>
            </div>
        </div>
    </div>
</section>