<section class="section dark_mod">
	<div class="section_in">
		<h2 data-i18n="key_features" class="section_title">Key Features</h2>
		<div class="features_list">
			<div class="features_item">
				<div class="features_img_wrap">
					<img class="features_img" src="~/gteam/i/feature_1.png" alt="key feature image"/>
				</div>
				<div data-i18n="ext_l_os" class="features_title">External Linux OS</div>
				<div data-i18n="k_feature" class="features_text">CWP Micro-PC uses an updated kernel of operating system and applications, recompiled
					with new compilers, to prevent Meltdown and Spectre attacks.
				</div>
			</div>
			<div class="features_item">
				<div class="features_img_wrap">
					<img class="features_img" src="~/gteam/i/feature_2.png" alt="key feature image"/>
				</div>
				<div data-i18n="sec_wal" class="features_title">Secure Wallet</div>
				<div data-i18n="sec_wal_t" class="features_text">Hardware non - breakable storage was added for transaction signing to secure crypto -
					wallets private keys.
				</div>
			</div>
			<div class="features_item">
				<div class="features_img_wrap">
					<img class="features_img" src="~/gteam/i/feature_3.png" alt="key feature image"/>
				</div>
				<div data-i18n="sec_d_app" class="features_title">Secure D-APPs</div>
				<div data-i18n="sec_d_app_t" class="features_text">Applications can be installed on the device only through the D-APP Store on
					decentralized Web-portal. It allows eliminating a possibility to install a harmful program and to secure data
					on the device.
				</div>
			</div>
		</div>
	</div>
</section>