<section class="section" id="how">
	<div class="section_in">
		<h2 data-i18n="how_works" class="section_title">How It Works</h2>
		<div class="how_it_wrap">
			<div class="how_it_img_wrap">
				<div id="lottie" class="how_it_img"></div>
				<div class="how_it_cells_wrap">
					<img class="how_it_cells" src="~/gteam/i/cells_bg.png" alt="cells background">
				</div>
			</div>
			<div class="how_it_text">
				<p data-i18n="how_t1">
					The programs are executed in the environment isolated from the computer - donor. User data are encrypted on
					the device (by user’s choice) that creates a solid defense to guard against hackers.
				</p>
				<p data-i18n="[html]how_t2">
					System prevents all existing security problems:<br>
					Phishing - by using the pre-configured browser and applications, signed by a unique key;<br>
					Exploits - by working in an isolated environment and by signing programs;<br>
					Hacker attacks - by using built-in unbreakable crypto-storage.
				</p>
			</div>
		</div>
	</div>
</section>