<section class="section bg_2_mod">
	<div class="section_in">
		<h2 class="section_title black_mod no_offset_mod">Our Partners</h2>
		<div class="parnters_slider_w">
			<span class="slider_arrow prev_mod js_slider_prev">
				<svg class="icon icon-left size_mod blue_mod">
					<use xlink:href="/gteam/i/sprite/sprite.svg#left"></use>
				</svg>
			</span>
			<span class="slider_arrow next_mod js_slider_next">
				<svg class="icon icon-right size_mod blue_mod">
					<use xlink:href="/gteam/i/sprite/sprite.svg#right"></use>
				</svg>
			</span>
			<div class="partners_slider">
				<div class="partner_item">
					<div class="partner_item_in">
						<div class="partner_logo_w sm_mod">
							<img class="partner_logo" src="~/gteam/i/p1.png" alt=""/>
						</div>
						<div class="partner_text">The factories of the company will organize the production of Micro-PC CWP, output
							control and download of the firmware.
						</div>
					</div>
				</div>
				<div class="partner_item">
					<div class="partner_item_in">
						<div class="partner_logo_w sm_mod">
							<img class="partner_logo" src="~/gteam/i/p2.png" alt=""/>
						</div>
						<div class="partner_text">The Japanese company KintaroCells Power is an innovator in the field of cellular
							medicine. Potential corporate customer.
						</div>
					</div>
				</div>
				<div class="partner_item">
					<div class="partner_item_in">
						<div class="partner_logo_w sm_mod">
							<img class="partner_logo" src="~/gteam/i/p3.png" alt=""/>
						</div>
						<div class="partner_text">Succesfully ended Crowdsale. Launched. One of the fastest blockchain protocols on
							the Planet.
						</div>
					</div>
				</div>
				<div class="partner_item">
					<div class="partner_item_in">
						<div class="partner_logo_w">
							<img class="partner_logo" src="~/gteam/i/p5.png" alt=""/>
						</div>
						<div class="partner_text">An American company; a leader in software and hardware testing.</div>
					</div>
				</div>
				<div class="partner_item">
					<div class="partner_item_in">
						<div class="partner_logo_w sm_mod">
							<a href="http://c-alley.com" target="_blank">
								<img class="partner_logo" src="~/gteam/i/logos/c-alley.png" alt=""/>
							</a>
						</div>
						<div class="partner_text">C-Alley delivers a solution to all types of Printed Circuits Boards in the high
							tech industry.
							Located in Shiyan Town, China.
						</div>
					</div>
				</div>
				<div class="partner_item">
					<div class="partner_item_in">
						<div class="partner_logo_w sm_mod">
							<a href="http://www.thepower.io" target="_blank">
								<img class="partner_logo" src="~/gteam/i/logos/thepower.png" alt=""/>
							</a>
						</div>
						<div class="partner_text">Three-dimensional scalable blockchain with multi-layer architecture, sharding and
							synchronous consensus. 100,000 on-chain transaction per second. Software & blockchain partner
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>