<section class="section">
	<div class="section_in">
		<h2 class="section_title">Publications</h2>
		<ul class="posts_list">
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_1.png" alt=""/></div>
					<div class="post_date">Jun 26 | 2018</div><a class="post_link">Who is CryptoWorkPlace, is this your partner?</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_2.png" alt=""/></div>
					<div class="post_date">Aug 12 | 2018</div><a class="post_link">The Power Partners Up with CryptoWorkPlace: A Strategic Bond</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_3.png" alt=""/></div>
					<div class="post_date">Sep 05 | 2018</div><a class="post_link">CryptoWorkPlace: The Safest Innovative System To Protect Personal Data Around The World</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_3.png" alt=""/></div>
					<div class="post_date">Oct 30 | 2018</div><a class="post_link">TOP 10 Blockchain Startups 2018</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_4.png" alt=""/></div>
					<div class="post_date">Nov 10 | 2018</div><a class="post_link">Cyber security ecosystem powered by cryptocomputer</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_5.png" alt=""/></div>
					<div class="post_date">Jun 26 | 2018</div><a class="post_link">Crypto Work Place (CWT Token): Built-In Bitcoin Storage Micro-PC Powered By Linux</a>
				</div>
			</li>
		</ul>

		<div class="posts_hidden_list">
			<ul class="posts_list">
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_7.png" alt=""/></div>
						<div class="post_date">Aug 12 | 2018</div><a class="post_link">Like &amp; Dislike: Cryptoworkplace</a>
					</div>
				</li>
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_1.png" alt=""/></div>
						<div class="post_date">Jun 26 | 2018</div><a class="post_link">Who is CryptoWorkPlace, is this your partner?</a>
					</div>
				</li>
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_2.png" alt=""/></div>
						<div class="post_date">Aug 12 | 2018</div><a class="post_link">The Power Partners Up with CryptoWorkPlace: A Strategic Bond</a>
					</div>
				</li>
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_3.png" alt=""/></div>
						<div class="post_date">Sep 05 | 2018</div><a class="post_link">CryptoWorkPlace: The Safest Innovative System To Protect Personal Data Around The World</a>
					</div>
				</li>
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_3.png" alt=""/></div>
						<div class="post_date">Oct 30 | 2018</div><a class="post_link">TOP 10 Blockchain Startups 2018</a>
					</div>
				</li>
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_4.png" alt=""/></div>
						<div class="post_date">Nov 10 | 2018</div><a class="post_link">Cyber security ecosystem powered by cryptocomputer</a>
					</div>
				</li>
				<li class="posts_item">
					<div class="post_block">
						<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_5.png" alt=""/></div>
						<div class="post_date">Jun 26 | 2018</div><a class="post_link">Crypto Work Place (CWT Token): Built-In Bitcoin Storage Micro-PC Powered By Linux</a>
					</div>
				</li>
			</ul>
		</div>
		<a class="more posts_mod morePostsLink" href="#postsAnchor">
			<div class="more_in normal_mod">All Posts</div>
			<div class="more_in active_mod">FOLD LIST</div>
			<div class="more_line">
				<svg class="more_svg_wrap" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="956" height="16" viewBox="0 0 956 16">
					<path id="lb59a" d="M161 7199h456.48c.45 0 20.52 15 20.52 15s16.71-15 18.66-15H1118"></path>
					<g transform="translate(-160 -7198)">
						<use class="more_svg" fill="#fff" fill-opacity="0" stroke="#1211ff" stroke-dasharray="0 4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2" xlink:href="#lb59a"></use>
					</g>
				</svg>
			</div>
		</a>
	</div>
</section>