<section class="section">
	<div class="section_in">
		<h2 class="section_title">Publications</h2>
		<ul class="posts_list">
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_1.png" alt=""/></div>
					<div class="post_date">Jun 26 | 2018</div><a class="post_link">Who is CryptoWorkPlace, is this your partner?</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_2.png" alt=""/></div>
					<div class="post_date">Aug 12 | 2018</div><a class="post_link">The Power Partners Up with CryptoWorkPlace: A Strategic Bond</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_3.png" alt=""/></div>
					<div class="post_date">Sep 05 | 2018</div><a class="post_link">CryptoWorkPlace: The Safest Innovative System To Protect Personal Data Around The World</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_3.png" alt=""/></div>
					<div class="post_date">Oct 30 | 2018</div><a class="post_link">TOP 10 Blockchain Startups 2018</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_4.png" alt=""/></div>
					<div class="post_date">Nov 10 | 2018</div><a class="post_link">Cyber security ecosystem powered by cryptocomputer</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_5.png" alt=""/></div>
					<div class="post_date">Jun 26 | 2018</div><a class="post_link">Crypto Work Place (CWT Token): Built-In Bitcoin Storage Micro-PC Powered By Linux</a>
				</div>
			</li>
			<li class="posts_item">
				<div class="post_block">
					<div class="post_prev_image_w"><img class="post_prev_img" src="~/gteam/i/posts/logo_7.png" alt=""/></div>
					<div class="post_date">Aug 12 | 2018</div><a class="post_link">Like &amp; Dislike: Cryptoworkplace</a>
				</div>
			</li>
		</ul>
	</div>
</section>