<section class="section rating_mod">
	<div class="section_in">
		<div class="rating_list_wrap">
			<span class="slider_arrow prev_mod rating_slider_prev">
				<svg class="icon icon-left size_mod blue_mod">
					<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#left"></use>
				</svg>
			</span>
			<span class="slider_arrow next_mod rating_slider_next">
				<svg class="icon icon-right size_mod blue_mod">
					<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#right"></use>
				</svg>
			</span>
			<div class="rating_list">
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Icobanch</dt>
							<dd class="rating_amount">3.9</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam//gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Icolink</dt>
							<dd class="rating_amount">4.8</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Icopatrol</dt>
							<dd class="rating_amount">4.8</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Foxico</dt>
							<dd class="rating_amount">8.1</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="10">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Base.Info</dt>
							<dd class="rating_amount">4.5</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Icobanch</dt>
							<dd class="rating_amount">3.9</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Icolink</dt>
							<dd class="rating_amount">4.8</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Icopatrol</dt>
							<dd class="rating_amount">4.8</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="5">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="rating_item">
					<div class="rating_block">
						<dl class="rating_title_w">
							<dt class="rating_title">Foxico</dt>
							<dd class="rating_amount">8.1</dd>
						</dl>
						<div class="rating_block_decor"></div>
						<div class="rating_stars_w" data-max="10">
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star rating_mod">
								<use xlink:href="/gteam/i/sprite/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>