<section class="section" id="roadmap">
	<div class="section_in">
		<h2 class="section_title">Roadmap</h2>
		<div class="timeline_wrap line_mod">
			<div class="timeline"></div>
			<div class="timeline_item line_mod v1_mod">
				<span class="timeline_year v1_mod">2008</span>
				<div class="timeline_descr v1_mod">
					<p>The idea of the microcomputer security platform</p>
				</div>
			</div>
			<div class="timeline_item line_mod v2_mod">
				<span class="timeline_year v2_mod">2009</span>
				<div class="timeline_descr v2_mod">
					<p>US patent<br>application</p>
				</div>
			</div>
			<div class="timeline_item line_mod v3_mod">
				<span class="timeline_year v3_mod">2010—2016</span>
				<div class="timeline_descr v3_mod">
					<p>Contract manufacturing of microcomputers</p>
				</div>
			</div>
			<div class="timeline_item line_mod v4_mod">
				<span class="timeline_year v4_mod">2017</span>
				<div class="timeline_descr v4_mod">
					<p>CryptoWorkPlace Concept</p>
				</div>
			</div>
		</div>

		<div class="timeline_wrap desktop_mod">
			<div class="timeline column_mod"></div>
			<div class="timeline_col">
				<div class="timeline_item column_mod right_mod ">
					<div class="timeline_when_wrap right_mod color2_mod">
						<span class="timeline_item_when small_mod right_mod color2_mod">Q2-Q3</span>
					</div>
					<ul class="timeline_list">
						<li class="timeline_list_item right_mod color2_mod">Preparing for the TGE</li>
						<li class="timeline_list_item right_mod color2_mod">Release of a prototype</li>
						<li class="timeline_list_item right_mod color2_mod">Connection to the partner program of blockchain projects</li>
						<li class="timeline_list_item right_mod color2_mod">Conclusion of partnership agreements</li>
						<li class="timeline_list_item right_mod color2_mod">Development of marketing materials for the project</li>
						<li class="timeline_list_item right_mod color2_mod">Launching of the site</li>
						<li class="timeline_list_item right_mod color2_mod">WhiteList invitation</li>
					</ul>
				</div>
				<div class="timeline_item column_mod right_mod ">
					<span class="timeline_year column_mod right_mod">2019</span>
					<div class="timeline_when_wrap right_mod color4_mod">
						<span class="timeline_item_when  right_mod color4_mod">Q1</span>
						</div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item right_mod color4_mod">Creating a CWT token and launching its smart contract</li>
                        <li class="timeline_list_item right_mod color4_mod">Exchange: the CWT-P token to the primary token CWT at 1 CWT-P = 1 CWT</li>
                        <li class="timeline_list_item right_mod color4_mod">Crowd Sale TGE</li>
                        <li class="timeline_list_item right_mod color4_mod">KYC procedure</li>
                        <li class="timeline_list_item right_mod color4_mod">Beta Version Web Portal</li>
                        <li class="timeline_list_item right_mod color4_mod">Product presentation LIVE</li>
                        <li class="timeline_list_item right_mod color4_mod">Opening of the Czech Republic office</li>
                        <li class="timeline_list_item right_mod color4_mod">CWT listing on cryptocurrency exchanges</li>
                        <li class="timeline_list_item right_mod color4_mod">Opening of the USA &amp; Japan offices</li>
                        <li class="timeline_list_item right_mod color4_mod">Launching of the CryptoWorkPlace Web portal and blockchain</li>
                        <li class="timeline_list_item right_mod color4_mod">Developing of the CWP Messenger</li>
                        <li class="timeline_list_item right_mod color4_mod">Testing of the product in independent laboratories</li>
                        <li class="timeline_list_item right_mod color4_mod">Preparing for series production of devices and launching technical support</li>
                        <li class="timeline_list_item right_mod color4_mod">Development of distribution channels</li>
                    </ul>
				</div>
				<div class="timeline_item column_mod right_mod ">
					<span class="timeline_year column_mod right_mod">2021</span>
					<div class="timeline_when_wrap right_mod color8_mod">
						<span class="timeline_item_when empty_mod right_mod color8_mod"></span>
					</div>
					<ul class="timeline_list">
						<li class="timeline_list_item right_mod color8_mod">Increase in production</li>
						<li class="timeline_list_item right_mod color8_mod">CWP CORP</li>
						<li class="timeline_list_item right_mod color8_mod">CWP CORP100</li>
                        <li class="timeline_list_item right_mod color8_mod">Up to 20 corp units per quarter</li>
					</ul>
				</div>
			</div>
            <div class="timeline_col">
                <div class="timeline_item column_mod left_mod ">
                    <span class="timeline_year column_mod left_mod">2018</span>
                    <div class="timeline_when_wrap left_mod color1_mod">
                        <span class="timeline_item_when  left_mod color1_mod">Q1</span>
                    </div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item left_mod color1_mod">Private presale stage</li>
                        <li class="timeline_list_item left_mod color1_mod">Creating a CWT - P token and launching its smart contract</li>
                    </ul>
                </div>
                <div class="timeline_item column_mod left_mod offset_bottom_mod">
                    <div class="timeline_when_wrap left_mod color3_mod">
                        <span class="timeline_item_when  left_mod color3_mod">Q4</span>
                    </div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item left_mod color3_mod">1st October 2018: launching of the Public Pre-TGE</li>
                        <li class="timeline_list_item left_mod color3_mod">Development of the project’s community</li>
                        <li class="timeline_list_item left_mod color3_mod">Translation of materials into TOP-3 languages</li>
                        <li class="timeline_list_item left_mod color3_mod">Release of a pilot batch of devices</li>
                        <li class="timeline_list_item left_mod color3_mod">Decemder 2018: Alpha 1.0 CWP Lite device</li>
                    </ul>
                </div>
                <div class="timeline_item column_mod left_mod ">
                    <div class="timeline_when_wrap left_mod color5_mod">
                        <span class="timeline_item_when  left_mod color5_mod">Q2</span>
                    </div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item left_mod color5_mod">Serial production of products CWP &amp; CWP DUO</li>
                        <li class="timeline_list_item left_mod color5_mod">Partnership procedure: Amazon, AliExpress, Ebay</li>
                    </ul>
                </div>
                <div class="timeline_item column_mod left_mod ">
                    <div class="timeline_when_wrap left_mod color5_mod">
                        <span class="timeline_item_when small_mod left_mod color5_mod">Q3-Q4</span>
                    </div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item left_mod color5_mod">Partnership procedure: Corp clients</li>
                        <li class="timeline_list_item left_mod color5_mod">Serial production of products CWP PRO &amp; CWP CORP100</li>
                    </ul>
                </div>
                <div class="timeline_item column_mod left_mod offset_top_mod">
                    <span class="timeline_year column_mod left_mod">2020</span>
                    <div class="timeline_when_wrap left_mod color7_mod">
                        <span class="timeline_item_when empty_mod left_mod color7_mod"></span>
                    </div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item left_mod color7_mod">Increase in production</li>
                        <li class="timeline_list_item left_mod color7_mod">CWP LITE</li>
                        <li class="timeline_list_item left_mod color7_mod">CWP DUO</li>
                        <li class="timeline_list_item left_mod color7_mod">CWP PRO</li>
                        <li class="timeline_list_item left_mod color7_mod">Up to 1, 000 units per quarter</li>
                    </ul>
                </div>
                <div class="timeline_item column_mod left_mod ">
                    <span class="timeline_year column_mod left_mod">2022</span>
                    <div class="timeline_when_wrap left_mod color8_mod">
                        <span class="timeline_item_when empty_mod left_mod color8_mod"></span>
                    </div>
                    <ul class="timeline_list">
                        <li class="timeline_list_item left_mod color8_mod">Increase in production</li>
                        <li class="timeline_list_item left_mod color8_mod">CWP LITE</li>
                        <li class="timeline_list_item left_mod color8_mod">CWP PRO</li>
                        <li class="timeline_list_item left_mod color8_mod">CWP DUO</li>
                        <li class="timeline_list_item left_mod color8_mod">Up to 10, 000 units per quarter</li>
                    </ul>
                </div>
            </div>
		</div>
		<div class="timeline_wrap mobile_mod">
			<div class="timeline column_mod"></div>
			<div class="timeline_item column_mod left_mod ">
				<span class="timeline_year column_mod left_mod">2018</span>
				<div class="timeline_when_wrap left_mod color1_mod">
					<span class="timeline_item_when  left_mod color1_mod">Q1</span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color1_mod">Private presale stage</li>
					<li class="timeline_list_item left_mod color1_mod">Creating a CWT - P token and launching its smart contract</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<div class="timeline_when_wrap left_mod color2_mod">
					<span class="timeline_item_when small_mod left_mod color2_mod">Q2-Q3</span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color2_mod">Preparing for the TGE</li>
					<li class="timeline_list_item left_mod color2_mod">Release of a prototype</li>
					<li class="timeline_list_item left_mod color2_mod">Connection to the partner program of blockchain projects</li>
					<li class="timeline_list_item left_mod color2_mod">Conclusion of partnership agreements</li>
					<li class="timeline_list_item left_mod color2_mod">Development of marketing materials for the project</li>
					<li class="timeline_list_item left_mod color2_mod">Launching of the site</li>
					<li class="timeline_list_item left_mod color2_mod">WhiteList invitation</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<div class="timeline_when_wrap left_mod color3_mod">
					<span class="timeline_item_when  left_mod color3_mod">Q4</span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color3_mod">1st October 2018: launching of the Public Pre-TGE</li>
					<li class="timeline_list_item left_mod color3_mod">Development of the project’s community</li>
					<li class="timeline_list_item left_mod color3_mod">Translation of materials into TOP-3 languages</li>
					<li class="timeline_list_item left_mod color3_mod">Release of a pilot batch of devices</li>
					<li class="timeline_list_item left_mod color3_mod">December 2018: Alpha 1.0 CWP Lite device</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<span class="timeline_year column_mod left_mod">2019</span>
				<div class="timeline_when_wrap left_mod color4_mod">
					<span class="timeline_item_when  left_mod color4_mod">Q1</span>
				</div>
                <ul class="timeline_list">
                    <li class="timeline_list_item left_mod color4_mod">Creating a CWT token and launching its smart contract</li>
                    <li class="timeline_list_item left_mod color4_mod">Exchange: the CWT-P token to the primary token CWT at 1 CWT-P = 1 CWT</li>
                    <li class="timeline_list_item left_mod color4_mod">Crowd Sale TGE</li>
                    <li class="timeline_list_item left_mod color4_mod">KYC procedure</li>
                    <li class="timeline_list_item left_mod color4_mod">Beta Version Web Portal</li>
                    <li class="timeline_list_item left_mod color4_mod">Product presentation LIVE</li>
                    <li class="timeline_list_item left_mod color4_mod">Opening of the Czech Republic office</li>
                    <li class="timeline_list_item left_mod color4_mod">CWT listing on cryptocurrency exchanges</li>
                    <li class="timeline_list_item left_mod color4_mod">Opening of the USA &amp; Japan offices</li>
                    <li class="timeline_list_item left_mod color4_mod">Launching of the CryptoWorkPlace Web portal and blockchain</li>
                    <li class="timeline_list_item left_mod color4_mod">Developing of the CWP Messenger</li>
                    <li class="timeline_list_item left_mod color4_mod">Testing of the product in independent laboratories</li>
                    <li class="timeline_list_item left_mod color4_mod">Preparing for series production of devices and launching technical support</li>
                    <li class="timeline_list_item left_mod color4_mod">Development of distribution channels</li>
                </ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<div class="timeline_when_wrap left_mod color5_mod">
					<span class="timeline_item_when  left_mod color5_mod">Q2</span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color5_mod">Serial production of products CWP &amp; CWP DUO</li>
					<li class="timeline_list_item left_mod color5_mod">Partnership procedure: Amazon, AliExpress, Ebay</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<div class="timeline_when_wrap left_mod color6_mod">
					<span class="timeline_item_when small_mod left_mod color6_mod">Q3-Q4</span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color6_mod">Partnership procedure: Corp clients</li>
					<li class="timeline_list_item left_mod color6_mod">Serial production of products CWP PRO &amp; CWP CORP100</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<span class="timeline_year column_mod left_mod">2020</span>
				<div class="timeline_when_wrap left_mod color7_mod">
					<span class="timeline_item_when empty_mod left_mod color7_mod"></span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color7_mod">Increase in production</li>
					<li class="timeline_list_item left_mod color7_mod">CWP LITE</li>
					<li class="timeline_list_item left_mod color7_mod">CWP DUO</li>
					<li class="timeline_list_item left_mod color7_mod">CWP PRO</li>
					<li class="timeline_list_item left_mod color7_mod">Up to 1, 000 units per quarter</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<span class="timeline_year column_mod left_mod">2021</span>
				<div class="timeline_when_wrap left_mod color8_mod">
					<span class="timeline_item_when empty_mod left_mod color8_mod"></span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color8_mod">Increase in production</li>
					<li class="timeline_list_item left_mod color8_mod">CWP CORP</li>
					<li class="timeline_list_item left_mod color8_mod">CWP CORP100</li>
					<li class="timeline_list_item left_mod color8_mod">Up to 20 corp units per quarter</li>
				</ul>
			</div>
			<div class="timeline_item column_mod left_mod ">
				<span class="timeline_year column_mod left_mod">2022</span>
				<div class="timeline_when_wrap left_mod color8_mod">
					<span class="timeline_item_when empty_mod left_mod color8_mod"></span>
				</div>
				<ul class="timeline_list">
					<li class="timeline_list_item left_mod color8_mod">Increase in production</li>
					<li class="timeline_list_item left_mod color8_mod">CWP LITE</li>
					<li class="timeline_list_item left_mod color8_mod">CWP PRO</li>
					<li class="timeline_list_item left_mod color8_mod">CWP DUO</li>
					<li class="timeline_list_item left_mod color8_mod">Up to 10, 000 units per quarter</li>
				</ul>
			</div>
		</div>
	</div>
</section>