<section class="section dark_mod">
	<div class="section_in">
		<h2 data-i18n="specifications" class="section_title">Specifications</h2>
		
		<div class="specifications_list">
			<div class="specifications_item">
				<div class="specifications_title_wrap">
					<div class="specifications_title">CWP</div>
				</div>
				<div class="specifications_content">
					<div class="specifications_img_wrap">
						<img class="specifications_img" src="~/gteam/i/spec_1.png" alt="specifications image"/>
					</div>
					<ul class="specifications_info_list">
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_oled.png" alt="specifications icon"/>
							</div>
							<div data-i18n="odisplay" class="specifications_info_text">OLED Display</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_cpu.png" alt="specifications icon"/>
							</div>
							<div data-i18n="qc_cpu" class="specifications_info_text">Quad-Core CPU</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_ram.png" alt="specifications icon"/>
							</div>
							<div data-i18n="4gb32gb" class="specifications_info_text">4GB RAM &amp; 32GB FLASH</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_usb.png" alt="specifications icon"/>
							</div>
							<div data-i18n="usbhdmi" class="specifications_info_text">USB &amp; HDMI</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_biometric.png" alt="specifications icon"/>
							</div>
							<div data-i18n="biometric" class="specifications_info_text">Biometric</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_wifi.png" alt="specifications icon"/>
							</div>
							<div data-i18n="wifi_lte" class="specifications_info_text">WI-FI &amp; LTE</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="specifications_item">
				<div class="specifications_title_wrap">
					<div class="specifications_title">CWP</div>
					<div class="specifications_title_mod">PRO</div>
				</div>
				<div class="specifications_content">
					<div class="specifications_img_wrap">
						<img class="specifications_img" src="~/gteam/i/spec2.png" alt="specifications image"/>
					</div>
					<ul class="specifications_info_list">
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_eink.png" alt="specifications icon"/>
							</div>
							<div data-i18n="eink_dis" class="specifications_info_text">E-Ink Display</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_cpu.png" alt="specifications icon"/>
							</div>
							<div data-i18n="qc_cpu" class="specifications_info_text">Quad-Core CPU</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_ram.png" alt="specifications icon"/>
							</div>
							<div data-i18n="4gb32gb" class="specifications_info_text">4GB RAM &amp; 32GB FLASH</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_usb.png" alt="specifications icon"/>
							</div>
							<div data-i18n="usbhdmi" class="specifications_info_text">USB &amp; HDMI</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_biometric.png" alt="specifications icon"/>
							</div>
							<div data-i18n="biometric" class="specifications_info_text">Biometric</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_wifi.png" alt="specifications icon"/>
							</div>
							<div data-i18n="wifi_lte" class="specifications_info_text">WI-FI &amp; LTE</div>
						</li>
						<li class="specifications_info_item">
							<div class="specifications_info_icon_wrap">
								<img class="specifications_info_icon" src="~/gteam/i/specifications/icon_message.png" alt="specifications icon"/>
							</div>
							<div data-i18n="sec_mess" class="specifications_info_text">Secure Messaging</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>