@{
    ViewData["Title"] = "Home Page";
}
<div class="b-block b-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER</h1>
                
                <p>
                    Our mission is to design the safest innovative devices and systems to protect personal data and the client’s finances all around the World.
                </p>
                
                <p>
                    <a href="#">
                        What is CWP-computer
                    </a>
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <a href="#">enter whitelist</a>
                <a href="#">
                    <i class=""></i>
                    Read Whitepaper
                </a>
                <div>
                    <!-- TODO: timer -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-block s-p_0 s-o_h">
    <div class="container">
        <div class="row">
            <div class="col-md-6 b-problem">
                <h2 class="b-block-h s-ta_l c-stn-2">
                    Problem
                </h2>
                <p class="c-stn-2">
                    Personal data, money, and<br/>documents go digital. It<br/>became a simple target for<br/>thieves.
                </p>
            </div>
            <div class="col-md-6 b-stn-2 b-problem">
                <h2 class="b-block-h s-ta_l c-stn-1">
                    Solution
                </h2>
                
                <p class="c-stn-1">
                    We create a microcomputer,<br/>
                    that solves all your needs with<br/>protecting your money and data.
                </p>
                <div class="fff-back"></div>
            </div>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Key Features
                </h2>
            </div>
        </div>
        
        <div class="row b-feach">
            <div class="col-md-7 s-ta_r">
                <img width="480" src="/images/upload-f2f8a4d0-b2bb-11e8-961a-957742adf670.png"/>
            </div>
            
            <div class="col-md-5">
                <h2 class="b-feach-h">External Linux OS</h2>

                <p class="b-feach-c">
                    You can connect CWP to any system without worrying about viruses because CWP transferring the only image to donor computer. All data stays secure in a cryptocomputer.
                </p>
            </div>
        </div>
        
        <div class="row b-feach">
            <div class="col-md-6">
                <h2 class="b-feach-h">Crypto Wallet</h2>

                <p class="b-feach-c">
                    We have the most secure system. Because it is not just a wallet, but its a small secured PC, that you can connect to any screen.
                </p>
            </div>
            
            <div class="col-md-6">
                <img width="480" src="/images/upload-f2163410-b2bb-11e8-961a-957742adf670.png"/>
            </div> 
        </div>
        
        <div class="row b-feach">           
            <div class="col-md-6">
                <img width="360" src="/images/upload-f5812470-b2bb-11e8-961a-957742adf670.png"/>
            </div> 
            
            <div class="col-md-6">
                <h2 class="b-feach-h">Secure Messaging</h2>

                <p class="b-feach-c">
                    You can choose any messenger in our application store or use our CWP secured messenger, that provides the best technologies for your data safeties.
                </p>
            </div>
        </div>
        <div class="s-ta_c">
            <img width="753" src="/images/upload-810eb7e0-b457-11e8-8717-7ff3a37c844c.png"/>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Specifications
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-6">
                <h2 class="h-tab">
                    CWP
                </h2>
            </div> 
            
            <div class="col-md-6">
                <h2 class="h-tab">
                    CWP <sup>pro</sup>
                </h2>
            </div> 
            
        </div>
        
        <div class="row">           
            <div class="col-md-6">
                <div class="b-spec_img-wrapper">
                    <img width="100" src="/images/upload-97c75d30-b43d-11e8-b9ea-432078d2319d.png"/>
                </div>
                
                <ul class="b-spec">
                    <li>
                        <i class="cw cw-3x cw-display s-mr_10"></i>
                        <span class="s-icon s-spec_i">OLED Display</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-cpu s-mr_10"></i>
                        <span class="s-icon s-spec_i">Quad-Core CPU</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-ram s-mr_10"></i>
                        <span class="s-icon s-spec_i">
                            4GB RAM<br>
                            & 16Gb Flash
                        </span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-usb s-mr_10"></i>
                        <span class="s-icon s-spec_i">
                            USB & HDMI
                        </span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-fingerprint s-mr_10"></i>
                        <span class="s-icon s-spec_i">
                            Biometric
                        </span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-wifi s-mr_10"></i>
                        <span class="s-icon s-spec_i">
                            WI-FI & LTE
                        </span>
                    </li>
                </ul>
            </div> 
            
            <div class="col-md-6">
                <div class="b-spec_img-wrapper">
                    <img width="200" src="/images/upload-db95ec70-b44c-11e8-9a0a-ed19b45a0cd0.png"/>
                </div>
                
                <ul class="b-spec">
                    <li>
                        <i class="cw cw-3x cw-display s-mr_10"></i>
                        <span class="s-icon s-spec_i">E-Ink Display</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-cpu s-mr_10"></i>
                        <span class="s-icon s-spec_i">Quad-Core CPU</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-ram s-mr_10"></i>
                        <span class="s-icon s-spec_i">4GB RAM & 16 GB Flash</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-usb s-mr_10"></i>
                        <span class="s-icon s-spec_i">USB & HDMI</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-fingerprint s-mr_10"></i>
                        <span class="s-icon s-spec_i">Biometric</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-fingerprint s-mr_10"></i>
                        <span class="s-icon s-spec_i">Wi-Fi & LTE</span>
                    </li>
                    <li>
                        <i class="cw cw-3x cw-chat s-mr_10"></i>
                        <span class="s-icon s-spec_i">Sequre Messaging</span>
                    </li>
                </ul>
            </div> 
            
        </div>
        
    </div>
</div>

<div class="b-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Roadmap
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-12 s-o_a">
                <!-- TODO: roadmap -->
                <img src="https://d3n32ilufxuvd1.cloudfront.net/561be959552687ee23492b60/1160383/upload-e4790340-b776-11e8-bb18-390e393362e9.png">
            </div> 
            
        </div>
    </div>
</div>

<div class="b-block b-stn-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Token Presale
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-12">
                <div>
                    <!-- TODO: timer -->
                </div>
                <p class="s-ta_c c-stn-2 s-fs_18">Our mission is to design the safest innovative devices and systems to protect personal data and the client’s finances all around the World.</p>
                
                <div>
                    <div class="b-round b-stn-2 z-400">
                        <div class="b-round_head clear">
                            Pre-sale
                            <div class="s-float_r">
                                <span class="c-stn-1">
                                    <span class="through">$0,2</span>
                                    <img style="    transform: rotateZ(180deg);" src="https://cryptoworkplace.io/img/561be959552687ee23492b60/1159604/upload-45a31c80-b77e-11e8-9f17-db264a40f380.png"/>
                                </span> $0,12
                            </div>
                        </div>
                        <div class="row s-mb_50">
                            <div class="s-ta_r s-fs_20 col-md-12">discount 40%</div>
                            
                            <div class="col-md-4 s-fs_18">Users who have purchased the CWT tokens, receive discounts whose size will decrease with increasing amounts attracted as follows</div>
                        </div>
                        <div class="clear">
                            <a class="btn btn-border btn-info btn-lg" href="#">enter whitelist</a>
                            
                            <img class="s-float_r" src="/images/upload-3fd17180-ad5b-11e8-b16c-bfc0a5bea17c.png">
                        </div>
                    </div>
                    
                    <div class="b-round b-stn-5 b-round_s z-300">
                        <div class="b-round_head clear">
                            Sale
                            <div class="s-float_r">
                                <span class="c-stn-1">
                                    <span class="through">$0,2</span>
                                    <img style="transform: rotateZ(180deg);" src="https://cryptoworkplace.io/img/561be959552687ee23492b60/1159604/upload-45a31c80-b77e-11e8-9f17-db264a40f380.png"/>
                                </span> $0,16
                            </div>
                        </div>
                        <div class="row">
                            <div class="s-fs_20 col-md-6">from 1 Novembe</div>
                            <div class="s-ta_r s-fs_20 col-md-6">discount 20%</div>
                        </div>
                    </div>
                    
                    <div class="b-round b-stn-6 b-round_s z-200">
                        <div class="b-round_head clear">
                            Sale
                            <div class="s-float_r">
                                <span class="c-stn-1">
                                    <span class="through">$0,2</span>
                                    <img style="transform: rotateZ(180deg);" src="https://cryptoworkplace.io/img/561be959552687ee23492b60/1159604/upload-45a31c80-b77e-11e8-9f17-db264a40f380.png"/>
                                </span> $0,18
                            </div>
                        </div>
                        <div class="row">
                            <div class="s-fs_20 col-md-6">from 1 January</div>
                            <div class="s-ta_r s-fs_20 col-md-6">discount 10%</div>
                        </div>
                    </div>
                         
                    <div class="b-round b-stn-7 b-round_s z-100">
                        <div class="b-round_head clear">
                            Sale
                            <div class="s-float_r">
                                $0,2
                            </div>
                        </div>
                        <div class="row">
                            <div class="s-fs_20 col-md-6">from 1 February</div>
                            <div class="s-ta_r s-fs_20 col-md-6">no discount</div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Team
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-741103b0-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Yoji Kishi</div>
                <div class="b-team-position">CEO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-792ab580-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Alexey Gladkov</div>
                <div class="b-team-position">CVO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-7b860aa0-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Maxim Maslich</div>
                <div class="b-team-position">CTO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-7bb69080-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Artur Enokian</div>
                <div class="b-team-position">Software Engineer</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-805ac430-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Anton Polansky</div>
                <div class="b-team-position">Head of Hardware Production</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-80aefeb1-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Denis Kuznetsov</div>
                <div class="b-team-position">Head Mathematican</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-84c6f7f0-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Anton Maslov</div>
                <div class="b-team-position">Senior System Analyst</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-85256ba1-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Alexander Fedko</div>
                <div class="b-team-position">COO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-88652d50-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Oleg Sarukhanov</div>
                <div class="b-team-position">CMO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-88aa2591-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Danil Tcytkin</div>
                <div class="b-team-position">Marketing Partner</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Advisers
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-935aa210-b4de-11e8-b9ea-432078d2319d.jpg"/>
                </div>
                <div class="b-team-name">Alexander Podelko</div>
                <div class="b-team-position">Ph.D., MBA</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-a5864660-b4de-11e8-a621-1dda4f429ede.jpg"/>
                </div>
                <div class="b-team-name">Sergey Sagalovitch</div>
                <div class="b-team-position">Principal Member of Technical Staff at AMD</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-8e58eb70-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div class="b-team-name">Wagan Sarukhanov</div>
                <div class="b-team-position">FlexLab CEO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-88e336f1-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Nikolay Fedorovskikh</div>
                <div class="b-team-position">Executive Business Developmern, Universa Corporation</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-89156a81-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Yuriy Myshinsky</div>
                <div class="b-team-position">CryptOcean.io Founder & CEO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 b-team">
                <div>
                    <img class="b-team-img" src="/images/team/upload-893d3dd0-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div class="b-team-name">Dmitry Ryzhkov</div>
                <div class="b-team-position">LuneCase Co-Founder</div>
                <div>
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>



