@{
    ViewData["Title"] = "Home Page";
}
<div class="b-block b-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>CYBER SECURITY ECOSYSTEM POWERED BY CRYPTOCOMPUTER</h1>
                
                <p>
                    Our mission is to design the safest innovative devices and systems to protect personal data and the client’s finances all around the World.
                </p>
                
                <p>
                    <a href="#">
                        What is CWP-computer
                    </a>
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <a href="#">enter whitelist</a>
                <a href="#">
                    <i class=""></i>
                    Read Whitepaper
                </a>
                <div>
                    <!-- TODO: timer -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="b-block-h_s">
                    Problem
                </h2>
                <p>
                    Personal data, money, and documents go digital. It became a simple target for thieves.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="b-block-h_s">
                    Solution
                </h2>
                
                <p>
                    We create a microcomputer, 
                    that solves all your needs with protecting your money and data.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Key Features
                </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <img src="/images/upload-f2f8a4d0-b2bb-11e8-961a-957742adf670.png"/>
            </div>
            
            <div class="col-md-6">
                <h2>
                    — External Linux OS
                </h2>

                <p>
                    You can connect CWP to any system without worrying about viruses because CWP transferring the only image to donor computer. All data stays secure in a cryptocomputer.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h2>
                    — Crypto Wallet
                </h2>

                <p>
                    We have the most secure system. Because it is not just a wallet, but its a small secured PC, that you can connect to any screen.
                </p>
            </div>
            
            <div class="col-md-6">
                <img src="/images/upload-f2163410-b2bb-11e8-961a-957742adf670.png"/>
            </div> 
        </div>
        
        <div class="row">           
            <div class="col-md-6">
                <img src="/images/upload-f5812470-b2bb-11e8-961a-957742adf670.png"/>
                <img src="/images/upload-810eb7e0-b457-11e8-8717-7ff3a37c844c.png"/>
            </div> 
            
            <div class="col-md-6">
                <h2>
                    — Secure Messaging
                </h2>

                <p>
                    You can choose any messenger in our application store or use our CWP secured messenger, that provides the best technologies for your data safeties.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Specifications
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-6">
                <h2>
                    CWP
                </h2>
            </div> 
            
            <div class="col-md-6">
                <h2>
                    CWP <sup>pro</sup>
                </h2>
            </div> 
            
        </div>
        
        <div class="row">           
            <div class="col-md-6">
                <div>
                    <img src="/images/upload-97c75d30-b43d-11e8-b9ea-432078d2319d.png"/>
                </div>
                
                <ul>
                    <li>
                        <i class=""></i> 
                        <span>Oled Display</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Quad-Core CPU</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>4GB RAM & 16 GB Flash</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>USB & HDMI</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Biometric</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Wi-Fi & LTE</span>
                    </li>
                </ul>
            </div> 
            
            <div class="col-md-6">
                <div>
                    <img src="/images/upload-db95ec70-b44c-11e8-9a0a-ed19b45a0cd0.png"/>
                </div>
                
                <ul>
                    <li>
                        <i class=""></i> 
                        <span>E-Ink Display</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Quad-Core CPU</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>4GB RAM & 16 GB Flash</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>USB & HDMI</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Biometric</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Wi-Fi & LTE</span>
                    </li>
                    <li>
                        <i class=""></i>
                        <span>Sequre Messaging</span>
                    </li>
                </ul>
            </div> 
            
        </div>
        
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Roadmap
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-12">
                <!-- TODO: roadmap -->
            </div> 
            
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Token Presale
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-12">
                <div>
                    <!-- TODO: timer -->
                </div>
                <p>Our mission is to design the safest innovative devices and systems to protect personal data and the client’s finances all around the World.</p>
                
                <div>
                    <div>
                        <div>
                            Pre-sale
                            <div>$0,2 -> $0,12</div>
                        </div>
                        <div>
                            <div>discount 40%</div>
                            <p>Users who have purchased the CWT tokens, receive discounts whose sizewill decrease with increasing amounts attracted as follows</p>
                        </div>
                        <div>
                            <a href="#">enter whitelist</a>
                            
                            <img src="/images/upload-3fd17180-ad5b-11e8-b16c-bfc0a5bea17c.png">
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            Sale
                            <div>$0,2 -> $0,16</div>
                        </div>
                        <div>
                            <div>from 1 November</div>
                            <div>discount 20%</div>
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            Sale
                            <div>$0,2 -> $0,18</div>
                        </div>
                        <div>
                            <div>from 1 January</div>
                            <div>discount 10%</div>
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            Sale
                            <div>$0,2 -> $0,16</div>
                        </div>
                        <div>
                            <div>from 1 February</div>
                            <div>no discount</div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Team
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-741103b0-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Yoji Kishi</div>
                <div>CEO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-792ab580-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Alexey Gladkov</div>
                <div>CVO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-7b860aa0-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Maxim Maslich</div>
                <div>CTO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-7bb69080-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div>Artur Enokian</div>
                <div>Software Engineer</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-805ac430-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Anton Polansky</div>
                <div>Head of Hardware Production</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-80aefeb1-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div>Denis Kuznetsov</div>
                <div>Head Mathematican</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-84c6f7f0-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Anton Maslov</div>
                <div>Senior System Analyst</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-85256ba1-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div>Alexander Fedko</div>
                <div>COO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-88652d50-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Oleg Sarukhanov</div>
                <div>CMO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-88aa2591-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div>Danil Tcytkin</div>
                <div>Marketing Partner</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="b-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="b-block-h">
                    Advisers
                </h2>
            </div>
        </div>
        
        <div class="row">           
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-935aa210-b4de-11e8-b9ea-432078d2319d.jpg"/>
                </div>
                <div>Alexander Podelko</div>
                <div>Ph.D., MBA</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-a5864660-b4de-11e8-a621-1dda4f429ede.jpg"/>
                </div>
                <div>Sergey Sagalovitch</div>
                <div>Principal Member of Technical Staff at AMD</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-8e58eb70-b4e6-11e8-a0c9-8dd9face81ec.png"/>
                </div>
                <div>Wagan Sarukhanov</div>
                <div>FlexLab CEO</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-88e336f1-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div>Nikolay Fedorovskikh</div>
                <div>Executive Business Developmern, Universa Corporation</div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div>
                    <img src="/images/team/upload-893d3dd0-b4e6-11e8-a0c9-8dd9face81ec.jpg"/>
                </div>
                <div>Dmitry Ryzhkov</div>
                <div>LuneCase Co-Founder/div>
                <div>
                    <a target="_blank" href="#">
                        <i class=""></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>



