
<div class="container slide-3">
  <div class="row">
    <div class="col-md-9">
      <h2>Последние новости проекта</h2>
    </div>
  
    <div class="col-md-3 s-ta_r s-p_15_0_0">
      <a class="btn btn-stn-1" href="/">ЧИТАТЬ ВСЕ НОВОСТИ</a>
    </div>
  </div>

  <div class="row s-mb_34">
    <div class="col-md-6">
      <img src="~/static/news/10166-2.png"/>
    </div>
  
    <div class="col-md-6">
      <h3>
        <strong>Илон Маск вложится в CryptoWorkPlace в 2018 году</strong>
      </h3>
    
      <p class="s-stn_1 s-fs_24">
        <strong>16:30 28.12.2017</strong>
      </p>

      <p class="s-fs_24">Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности влечет 
        за собой процесс внедрения и модернизации направлений прогрессивного развития...</p>
    
      <a class="s-stn_1 s-fs_24" href="/">
        <strong>Читать далее...</strong>
      </a>
    </div>

  </div>

  <div class="row s-mb_34">
    <div class="col-md-6">
      <img src="~/static/news/10166-2.png"/>
    </div>
  
    <div class="col-md-6">
      <h3>
        <strong>Илон Маск вложится в CryptoWorkPlace в 2018 году</strong>
      </h3>
    
      <p class="s-stn_1 s-fs_24">
        <strong>16:30 28.12.2017</strong>
      </p>

      <p class="s-fs_24">Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности влечет
        за собой процесс внедрения и модернизации направлений прогрессивного развития...</p>
    
      <p>
        <a class="s-stn_1 s-fs_24" href="/">
          <strong>Читать далее...</strong>
        </a>
      </p>
    </div>

  </div>
</div>
