<div class="bg-wrapper-grad">
    <div class="container slide-4">
        <div class="s-mb_20">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="s-c_fff">Этапы запуска проекта</h2>
                </div>
  
                <div class="col-md-3 s-ta_r s-p_15_0_0">
                    <a class="btn btn-transparent" href="/">СКАЧАТЬ WHITE PAPER</a>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                    <div class="b-line b-fff s-mb_26"></div>
                </div>
            </div>

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    @*                <li data-target="#myCarousel" data-slide-to="1"></li>*@
                    @*                <li data-target="#myCarousel" data-slide-to="2"></li>*@
                    @*                <li data-target="#myCarousel" data-slide-to="3"></li>*@
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row s-car-items">
                            <div class="col-md-2 s-c_fff">
                                <div class="s-mb_20 s-fs_18">
                                    <strong>Описание этапа в деталях</strong>
                                </div>
                                
                                <p class="s-mb_20">Описание этапа в деталях немного более подробное его описание</p>
                                
                                <p>
                                    <strong class="s-fs_18">18.12.2016</strong>
                                </p>
                            </div>
                            <div class="col-md-2 s-c_fff">
                                <div class="s-mb_20 s-fs_18">
                                    <strong>Описание этапа в деталях</strong>
                                </div>
                                
                                <p class="s-mb_20">Описание этапа в деталях немного более подробное его описание</p>
                                
                                <p>
                                    <strong class="s-fs_18">18.12.2016</strong>
                                </p>
                            </div>
                            <div class="col-md-2 s-c_fff">
                                <div class="s-mb_20 s-fs_18">
                                    <strong>Описание этапа в деталях</strong>
                                </div>
                                
                                <p class="s-mb_20">Описание этапа в деталях немного более подробное его описание</p>
                                
                                <p>
                                    <strong class="s-fs_18">18.12.2016</strong>
                                </p>
                            </div>
                            <div class="col-md-2 s-c_fff">
                                <div class="s-mb_20 s-fs_18">
                                    <strong>Описание этапа в деталях</strong>
                                </div>
                                
                                <p class="s-mb_20">Описание этапа в деталях немного более подробное его описание</p>
                                
                                <p>
                                    <strong class="s-fs_18">18.12.2016</strong>
                                </p>
                            </div>
                            <div class="col-md-2 s-c_fff">
                                <div class="s-mb_20 s-fs_18">
                                    <strong>Описание этапа в деталях</strong>
                                </div>
                                
                                <p class="s-mb_20">Описание этапа в деталях немного более подробное его описание</p>
                                
                                <p>
                                    <strong class="s-fs_18">18.12.2016</strong>
                                </p>
                            </div>
                            <div class="col-md-2 s-c_fff">
                                <div class="s-mb_20 s-fs_18">
                                    <strong>Описание этапа в деталях</strong>
                                </div>
                                
                                <p class="s-mb_20">Описание этапа в деталях немного более подробное его описание</p>
                                
                                <p>
                                    <strong class="s-fs_18">18.12.2016</strong>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-caption" role="option">
                            <p>
@*                                Learn how to build ASP.NET apps that can run anywhere.*@
@*                                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">*@
@*                                    Learn More*@
@*                                </a>*@
                            </p>
                        </div>
                    </div>
                    @*                <div class="item">*@
                    @*$1$                    <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive"/>#1#*@
                    @*                    <div class="carousel-caption" role="option">*@
                    @*                        <p>*@
                    @*                            There are powerful new features in Visual Studio for building modern web apps.*@
                    @*                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">*@
                    @*                                Learn More*@
                    @*                            </a>*@
                    @*                        </p>*@
                    @*                    </div>*@
                    @*                </div>*@
                    @*                <div class="item">*@
                    @*$1$                    <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive"/>#1#*@
                    @*                    <div class="carousel-caption" role="option">*@
                    @*                        <p>*@
                    @*                            Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.*@
                    @*                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">*@
                    @*                                Learn More*@
                    @*                            </a>*@
                    @*                        </p>*@
                    @*                    </div>*@
                    @*                </div>*@
                    @*                <div class="item">*@
                    @*$1$                    <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive"/>#1#*@
                    @*                    <div class="carousel-caption" role="option">*@
                    @*                        <p>*@
                    @*                            Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.*@
                    @*                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">*@
                    @*                                Learn More*@
                    @*                            </a>*@
                    @*                        </p>*@
                    @*                    </div>*@
                    @*                </div>*@
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        
        
        </div>
        
            <div class="s-mb_36">
            <h3 class="s-c_fff">Ключевые вехи этапа</h3>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                
                <div class="s-mb_70">
                    <div class="s-c_fff s-fs_22 s-mb_20">
                        <strong>Ключевой момент 1, который будет<br/>реализовываться</strong>
                    </div>

                    <div class="s-c_fff s-fs_18">
                        Ключевой момент 1, который будет реализовываться
                        в этапе - его краткое разъяснение
                    </div>
                </div>
                
                <div>
                    <div class="s-c_fff s-fs_22 s-mb_20">
                        <strong>Ключевой момент 1, который будет<br/>реализовываться</strong>
                    </div>

                    <div class="s-c_fff s-fs_18">
                        Ключевой момент 1, который будет реализовываться
                        в этапе - его краткое разъяснение
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-6">
                <div class="s-mb_70">
                    <div class="s-c_fff s-fs_22 s-mb_20">
                        <strong>Ключевой момент 1, который будет<br/>реализовываться</strong>
                    </div>

                    <div class="s-c_fff s-fs_18">
                        Ключевой момент 1, который будет реализовываться
                        в этапе - его краткое разъяснение
                    </div>
                </div>
                
                <div>
                    <div class="s-c_fff s-fs_22 s-mb_20">
                        <strong>Ключевой момент 1, который будет<br/>реализовываться</strong>
                    </div>

                    <div class="s-c_fff s-fs_18">
                        Ключевой момент 1, который будет реализовываться
                        в этапе - его краткое разъяснение
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

