<div class="container slide-5">
  <h2>Скачать официальную документацию</h2>
  
  <div class="row">
    <div class="col-md-4">
      <div class="b-line b-stn-1 s-mb_26"></div>
    </div>
  </div>

  <div class="row s-mb_52">
  
    <div class="col-md-4">
      <img class="s-icon s-mr_30" src="~/static/document _b.png"/>
      
      <div class="s-icon">
        <a class="s-stn_0" href="">
        <span class="s-fs_36">White Paper</span>
        </a>
        <br/>
        <span class="s-fs_24">PDF, 2.6 MB</span>
      </div>
    
    </div>
  
    <div class="col-md-4">
      <img class="s-icon s-mr_30" src="~/static/document _b.png"/>
      
      <div class="s-icon">
        <a class="s-stn_0" href="">
          <span class="s-fs_36">White Paper</span>
        </a>
        <br/>
        <span class="s-fs_24">PDF, 2.6 MB</span>
      </div>
    </div>
  
    <div class="col-md-4">
      <img class="s-icon s-mr_30" src="~/static/document _b.png"/>
      
      <div class="s-icon">
        <a class="s-stn_0" href="">
          <span class="s-fs_36">White Paper</span>
        </a>
        <br/>
        <span class="s-fs_24">PDF, 2.6 MB</span>
      </div>
    </div>
  </div>

  <div class="row">
  
    <div class="col-md-4">
      <img class="s-icon s-mr_30" src="~/static/document _y.png"/>
      
      <div class="s-icon">
        <a class="s-stn_0" href="">
          <span class="s-fs_36">White Paper</span>
        </a>
        <br/>
        <span class="s-fs_24">PDF, 2.6 MB</span>
      </div>
    </div>
  
    <div class="col-md-4">
      <img class="s-icon s-mr_30" src="~/static/document _y.png"/>
      <div class="s-icon">
        <a class="s-stn_0" href="">
          <span class="s-fs_36">White Paper</span>
        </a>
        <br/>
        <span class="s-fs_24">PDF, 2.6 MB</span>
      </div>
    </div>
  
    <div class="col-md-4">
      <img class="s-icon s-mr_30" src="~/static/document _y.png"/>
      <div class="s-icon">
        <a class="s-stn_0" href="">
          <span class="s-fs_36">White Paper</span>
        </a>
        <br/>
        <span class="s-fs_24">PDF, 2.6 MB</span>
      </div>
    </div>
  </div>
</div>

