<div class="bg-wrapper-grad">
  
  <div class="container slide-0">
    <div class="row">
      <div class="col-md-7 s-pt_100">
        <h1 class="main-h1 s-mb_45">Инновационная система защиты</h1>

        <p class="s-c_fff s-fs_24 s-mb_45">Защитие корпоративные данные с помощью нашей<br/>разработки, призванной обезопасить сотрудников<br/>
          и данные от внешних угроз и человеческого фактора
        </p>

        <a class="btn btn-xl btn-transparent" href="/">СКАЧАТЬ WHITE PAPER</a>
      </div>
      <div class="col-md-5">
        <img src="~/static/Index_0002s_0000s_0002_-869.png"/>
      </div>
    </div>

    <div class="row s-boxes-0">

      <div class="col-md-4 s-box-0 s-stn_b1">
        <div class="s-box-0-h1">12 000</div>
        <div class="s-box-0-sub">компьютеров</div>
        <div class="s-box-0-subber">подвергаются атакам<br/>хакеров каждую секунду</div>
      </div>

      <div class="col-md-4 s-box-0 s-stn_b2">
        <div class="s-box-0-h1">12 000</div>
        <div class="s-box-0-sub">компьютеров</div>
        <div class="s-box-0-subber">подвергаются атакам<br/>хакеров каждую секунду</div>
      </div>

      <div class="col-md-4 s-box-0 s-stn_b3">
        <div class="s-box-0-h1">12 000</div>
        <div class="s-box-0-sub">компьютеров</div>
        <div class="s-box-0-subber">подвергаются атакам<br/>хакеров каждую секунду</div>
      </div>
    </div>
    
  </div>
</div>