<div class="bg-wrapper-grad">
  <div class="container slide-subscribe">
    <h2 class="s-c_fff">Получайте новости CWP на почту</h2>
    
    <div class="row">
      <div class="col-md-4">
        <div class="b-line b-fff s-mb_26"></div>
      </div>
    </div>
    
    <div>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="example@mail.com">
        <span class="input-group-btn">
          <button class="btn btn-transparent" type="button">ПОДПИСАТЬСЯ</button>
        </span>
      </div>
    </div>
  </div>
</div>
