@{
    ViewData["Title"] = "Home Page";
}

<!-- home1-hero-area-start -->
    <section class="home1-hero-area" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home1-hero-left">
                        <h1 class="h1hl-title">
                            <span class="bold">Decentralized system</span> based on a personal computer the size of a USB flash drive
                        </h1>
                        <p class="h1hl-text">
                            The CryptoWorkPlace Micro-PC is not a secure key storage, it is a fully
                            independent PC with an operating system and applications
                        </p>
                        <div style="margin-bottom: 36px;" class="how-can-help">
                            <div class="hch-img">
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home1-hero-right">
                        <img src="http://www.compbegin.ru/data/image/intel2_(2).jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home1-hero-area-end -->
    <!-- available-area-start -->
    <div class="available-area">
        <div style="margin-bottom: 138px;" class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="available">
                        <h5 class="available-title">Wallet available on:</h5>
                        <ul class="available-links">
                            <li><a href="#"><img src="img/home1/download1.png" alt=""></a></li>
                            <li><a href="#"><img src="img/home1/download2.png" alt=""></a></li>
                            <li><a href="#"><img src="img/home1/download3.png" alt=""></a></li>
                            <li><a href="#"><img src="img/home1/download4.png" alt=""></a></li>
                        </ul>
                        <h2 class="available-counter"><span class="counter counter-up" data-counterup-delay="30" data-counterup-time="1500">133</span>K downloads</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div style="margin-bottom: 172px;" class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="download-right">
                        <div class="section-title">
                            <h2>Blockchain <br><span>Problem</span></h2>
                            <p>
                                According to a Chainalysis 
                                <a href="https://blog.chainalysis.com/the-rise-of-cybercrime-on-ethereum/" target="_blank">report</a>
                                <br/>
                                the world is seeing a meteoric rise in cybercrime targeting ICOs. In June 2017 alone<br/>
                                investors loses from such actions reached $100M while in August they were above<br/>
                                <strong>$220M</strong>.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="">
                        <img src="/static/proble.svg" alt="">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="donwload-left">
                        <img src="https://c.76.my/Malaysia/intel-compute-stick-1-83ghz-2gb-ddr3l-win8-1-32gb-stck1a32wfc-saveallstore-1705-16-F404732_1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="download-right">
                        <div class="section-title">
                            <h2>And the <br><span>solution</span>
                            </h2>
                            <p>
                                CWP is a decentralized ecosystem based on a blockchain technology that includes a<br/>
                                Micro-PC that enables applications to run in a secure, isolated environment, special<br/>
                                software, a set of web portal services designed to organize protection against threats<br/>
                                on the network, and a distributed registry of statuses

                            </p>
                        </div>
                        <ul class="dl-list">
                            <li>Sed ut perspiciatis unde omnis iste natus error sit </li>
                            <li>voluptatem accusantium doloremque laudantium</li>
                            <li>totam rem aperiam eaque ipsa quae ab illo inventore</li>
                            <li>veritatis et quasi architecto beatae vitae dicta sunt</li>
                        </ul>
              
                        <p class="dl-text"><span>NOTE :</span> some note
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- available-area-end -->

    <!-- download-area-start -->
    <section class="download-area" id="download">
        <div class="section-title">
            <h2>TOKEN <span>SALE</span></h2>
            <p style="margin-bottom: 36px;">PRE-ICO IS OPENED JOIN US</p>
            
            <div class="">
                <a class="smoothscroll button" href="#contact">Participate Token Sale</a>
            </div>
        </div>
    </section>
    <!-- download-area-end -->
    <!-- counter-area-start -->
@*    <div class="counter-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-3 col-sm-12 col-xs-12">*@
@*                    <div class="section-title">*@
@*                        <h2>SOME <br><span>FACTS</span></h2>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">12000</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-cloud-download"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">238</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-android"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-3 col-sm-4 col-xs-12">*@
@*                    <div class="counter-box">*@
@*                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">1027</h2>*@
@*                        <p class="counter-text">PC ATTACKED NOW</p>*@
@*                        <span class="counter-icon"><i class="fa fa-apple"></i></span>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
<div class="counter-area">
    <div class="container-s">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 col-md-offset-1">
                <div class="counter-box">
                    <h2 class="s-icon counter counter-up" data-counterup-time="1500" data-counterup-delay="30">72500</h2> <span class="s-icon">ETH</span>
                    <p class="counter-text">Hard CAP</p>
                    <span class="counter-icon"><i class="fa fa-gavel"></i></span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">500</h2> <span class="s-icon">M pieces</span>
                    <p class="counter-text">Maximum emission of Tokens</p>
                    <span class="counter-icon"><i class="fa fa-line-chart"></i></span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">250</h2> <span class="s-icon">M pieces</span>
                    <p class="counter-text">Number of tokens for sale (50% of total)</p>
                    <span class="counter-icon"><i class="fa fa-apple"></i></span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">0.20</h2> <span class="s-icon">$</span>
                    <p class="counter-text">Price of the token</p>
                    <span class="counter-icon"><i class="fa fa-cloud-download"></i></span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="counter-box">
                    <span class="s-icon">Up to </span><h2 class="counter counter-up s-icon" data-counterup-time="1500" data-counterup-delay="30">75</h2> <span class="s-icon">%</span> 
                    <p class="counter-text">Early birds discounts</p>
                    <span class="counter-icon"><i class="fa fa-cloud-download"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- counter-area-end -->
    <!-- feature-area-start -->
<section class="feature-area" id="feature">
    <div style="margin-bottom: 138px;" class="container">
          
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="feature-head">
                    <div class="section-title">
                        <h2>ROAD<span>MAP</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>
                    </div>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th class="g-style">YEAR</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    <tr>
                        <td>2008</td>
                        <td>The idea of a microcomputer</td>
                    </tr>
                    <tr>
                        <td>2009</td>
                        <td>Patenting</td>
                    </tr>
                    <tr>
                        <td>2009</td>
                        <td>Product version 1.0 for system administrators</td>
                    </tr>
                    <tr>
                        <td>2010</td>
                        <td>Product version 2.0 thin client</td>
                    </tr>
                    <tr>
                        <td>2011</td>
                        <td>Product version 3.0 VPN client and the access key to the medical database</td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>Product version 4.0 a researcher's workplace for access to remote knowledge bases</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>Product version 5.0 portable workplace with business and gaming applications</td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>Product version 6.0 portable workstation oriented to client-server applications</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>Creating a CryptoWorkPlace concept</td>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>Token Pre-Sale</td>
                    </tr>
                    <tr>
                        <td class="s-fs_06">March</td>
                        <td>Token Sale,
                            Launching of the
                            Web Portal beta
                        </td>
                    </tr>
                    <tr>
                        <td class="s-fs_06">April</td>
                        <td>Testing of the
                            product in
                            independent
                            laboratories
                        </td>
                    </tr>
                    <tr>
                        <td class="s-fs_06">Q2-Q3</td>
                        <td>The start of mass
                            production and
                            launching of
                            technical support
                            services
                        </td>
                    </tr>
                    <tr>
                        <td class="s-fs_06">Q4</td>
                        <td>he start of sales in
                            USA, Europe, and
                            Asian markets
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="feature-head">
                    <div class="section-title">
                        <h2>AMAZING <span>FEATURES</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="img/home1/feature1.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h2>Quick <span class="bold">Loading</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="img/home1/feature4.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h2>Quick <span class="bold">Loading</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="img/home1/feature2.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h2>AWESOME <span class="bold">DESIGN</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="img/home1/feature5.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h2>Chat In <span class="bold">Your App</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="img/home1/feature3.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h2>FREE <span class="bold">SUPPORT</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div class="feature-icon">
                        <img src="img/home1/feature6.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h2>Events <span class="bold">Calendar</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing do eiusmod tempor Lorem ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- feature-area-end -->
@*    <!-- video-area-start -->*@
@*    <div class="video-area bg-with-black">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="video-button">*@
@*                        <a class="h4hb-video popup-youtube" href="https://www.youtube.com/watch?v=apJnxEIItXE"><i class="icofont icofont-ui-video-play"></i></a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- video-area-end -->*@
    <!-- testimonial-area-start -->
@*    <div class="testimonial-area bg-with-blue">*@
@*        <div class="testimonial">*@
@*            <div class="testimonial-carousel owl-carousel">*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="testimonial-box">*@
@*                    <p class="tb-text">“ There are many variations of passages of lorem ipsum the lorem gorem merem...”</p>*@
@*                    <h2 class="tb-title">John DOE - Gamerging Studio</h2>*@
@*                    <div class="tb-img-area">*@
@*                        <div class="testimonial-img">*@
@*                            <img src="img/home1/testimonial-author2.png" alt="">*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
    <!-- testimonial-area-end -->
    <!-- screenshot-area-start -->
@*    <section class="screenshot-area" id="screenshot">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="screenshot-head">*@
@*                        <div class="section-title">*@
@*                            <h2>SCREEN<span>SHOTS</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-8 col-md-offset-2 col-xs-12">*@
@*                    <div class="screenshots">*@
@*                        <div class="screenshot-carousel owl-carousel">*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                            <div class="screenshot-box">*@
@*                                <img src="img/home1/screenshot-all.png" alt="">*@
@*                            </div>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </section>*@
    <!-- screenshot-area-end -->
    <!-- team-area-start -->
    <section class="team-area" id="team">
        <div style="margin-bottom:138px" class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="screenshot-head">
                        <div class="section-title">
                            <h4>Meet Our</h4>
                            <h2>TEAM</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/team.png" alt="">
                        <div class="st-content">
                            <h5>Yoji Kishi</h5>
                            <p>Rare type of High-edge Japanese technology specialist with wide international marketing experience.</p>
                            <div class="social-w">
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="st-content-under">
                        CEO<br/>Yoji Kishi
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/team.png" alt="">
                        <div class="st-content">
                            <h5>CVO Alexey Gladkov</h5>
                            <p>The president of the Kintaro Power Cells Japan</p>
                            <div class="social-w">
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="st-content-under">
                        CVO<br/>Alexey Gladkov
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/team/team.png" alt="">
                        <div class="st-content">
                            <h5>Maxim Maslich</h5>
                            <p>Blockchain & smart contracts developer</p>
                            <div class="social-w">
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="st-content-under">
                        CTO<br/>Maxim Maslich
                    </div>
                </div>
            </div>
        </div>
        
        <div style="margin-bottom:138px" class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="screenshot-head">
                        <div class="section-title">
                            <h2 class="duga">ADVISERS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/adv/adv.png" alt="">
                        <div class="st-content">
                            <h5>Yoji Kishi</h5>
                            <p>Rare type of High-edge Japanese technology specialist with wide international marketing experience.</p>
                            <div class="social-w">
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="st-content-under">
                        CEO<br/>Yoji Kishi
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/adv/adv.png" alt="">
                        <div class="st-content">
                            <h5>CVO Alexey Gladkov</h5>
                            <p>The president of the Kintaro Power Cells Japan</p>
                            <div class="social-w">
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="st-content-under">
                        CVO<br/>Alexey Gladkov
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team">
                        <img src="/static/adv/adv.png" alt="">
                        <div class="st-content">
                            <h5>Maxim Maslich</h5>
                            <p>Blockchain & smart contracts developer</p>
                            <div class="social-w">
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="st-content-under">
                        CTO<br/>Maxim Maslich
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="screenshot-head">
                        <div class="section-title">
                            <h2>PARTNERS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team s-ta_c">
                        @*                        <img src="img/home1/team1.png" alt="">*@
                        ICAPE GROUP
@*                        <div class="st-content">*@
@*                            <h5>ALEX SWEET</h5>*@
@*                            <p>Web Designer</p>*@
@*                            <a href="#">+</a>*@
@*                        </div>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team s-ta_c">
                        CELLS POWER JAPAN
                        @*                        <img src="img/home1/team2.png" alt="">*@
                        @*                        <div class="st-content">*@
                        @*                            <h5>ALEX SWEET</h5>*@
                        @*                            <p>Web Designer</p>*@
                        @*                            <a href="#">+</a>*@
                        @*                        </div>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-team s-ta_c">
                        QA MENTOR
                        @*                        <img src="img/home1/team3.png" alt="">*@
                        @*                        <div class="st-content">*@
                        @*                            <h5>ALEX SWEET</h5>*@
                        @*                            <p>Web Designer</p>*@
                        @*                            <a href="#">+</a>*@
                        @*                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area-end -->
    <!-- pricing-area-start -->
@*    <section class="pricing-area" id="price">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="pricing-head">*@
@*                        <div class="section-title">*@
@*                            <h2>OUR <span>PRICING</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing">*@
@*                        <h2 class="sp-title">Basic</h2>*@
@*                        <h3 class="sp-price">$12</h3>*@
@*                        <p class="sp-duration">A week membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing active">*@
@*                        <span class="sp-popular">Most Popular</span>*@
@*                        <h2 class="sp-title">Premium</h2>*@
@*                        <h3 class="sp-price">$42</h3>*@
@*                        <p class="sp-duration">A month membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                            <li>24/7 Support</li>*@
@*                            <li>WP Customization</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-pricing">*@
@*                        <h2 class="sp-title">Pro</h2>*@
@*                        <h3 class="sp-price">$492</h3>*@
@*                        <p class="sp-duration">A week membership</p>*@
@*                        <ul class="sp-list">*@
@*                            <li>3 Web Design</li>*@
@*                            <li>5 Web Development</li>*@
@*                            <li>Free Hosting</li>*@
@*                            <li>SEO Optimization</li>*@
@*                            <li>24/7 Support</li>*@
@*                        </ul>*@
@*                        <a class="sp-buy" href="#">Buy now</a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </section>*@
    <!-- pricing-area-end -->
    <!-- blog-area-start -->
@*    <div class="blog-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-md-10 col-md-offset-1 col-xs-12">*@
@*                    <div class="blog-head">*@
@*                        <div class="section-title">*@
@*                            <h2>Latest News <span>From Blog</span></h2>*@
@*                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation</p>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*            <div class="row">*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog1.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog2.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-md-4 col-sm-6 col-xs-12">*@
@*                    <div class="single-blog">*@
@*                        <div class="blog-img">*@
@*                            <a href="07_Post_Details.html"><img src="img/home1/blog3.png" alt=""></a>*@
@*                        </div>*@
@*                        <div class="blog-content">*@
@*                            <span class="bc-date">25th May 2015</span>*@
@*                            <p class="bc-author">Posted by Methov jos in Blog</p>*@
@*                            <h6 class="bc-title"><a href="07_Post_Details.html">Doloremque laudantium totam...</a></h6>*@
@*                        </div>*@
@*                    </div>*@
@*                </div>*@
@*                <div class="col-xs-12">*@
@*                    <div class="see-all-blog">*@
@*                        <a class="hvr-bs" href="04_Blog_Standeard.html">View All post</a>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
    <!-- blog-area-end -->
@*    <!-- twitter-area-start -->*@
@*    <div class="twitter-area">*@
@*        <div class="container">*@
@*            <div class="row">*@
@*                <div class="col-xs-12">*@
@*                    <div class="twitter">*@
@*                        <a class="twitter-follow" href="#">Follow us</a>*@
@*                        <p class="twitter-text">@@AndreiJosan Just found this great App Store PSD template on dribbble, check it out: <a href="#">https://t.co/3NaSG35m</a> #freebie #template #dribbble — 12 Mar 2016</p>*@
@*                    </div>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*    <!-- twitter-area-end -->*@