
@{
    ViewData["Title"] = "Unsubscribe";
}
@model UnsubscribeViewModel
<div class="container">
    <h2 class="text-center" style="color: inherit;">
        @if (Model.Result)
    {
        @Locale["Unsibscribe_Successful", Model.Email];
    }
    else
    {
        <span>ALARMA!</span>
        @Locale["Unsibscribe_Failed"];
    }
</h2>
<br />
</div>