<div class="dots-nav">
  <input name="dot-nav" checked="checked" id="r-0" class="radio-nav" type="radio"/><label for="r-0" class="dots-nav-i"></label>
  <input name="dot-nav"  id="r-1" class="radio-nav" type="radio"/><label for="r-1" class="dots-nav-i"></label>
  <input name="dot-nav"  id="r-2" class="radio-nav" type="radio"/><label for="r-2" class="dots-nav-i"></label>
  <input name="dot-nav"  id="r-3" class="radio-nav" type="radio"/><label for="r-3" class="dots-nav-i"></label>
  <input name="dot-nav"  id="r-4" class="radio-nav" type="radio"/><label for="r-4" class="dots-nav-i"></label>
  <input name="dot-nav"  id="r-5" class="radio-nav" type="radio"/><label for="r-5" class="dots-nav-i"></label>
</div>