<div class="dots-nav">
  <div class="dots-nav-i active"></div>
  <div class="dots-nav-i"></div>
  <div class="dots-nav-i"></div>
  <div class="dots-nav-i"></div>
  <div class="dots-nav-i"></div>
  <div class="dots-nav-i"></div>
</div>