<div class="slide-footer-wrapper">
  <footer class="s-stn_b3 slide-footer">
    <div class="container">
      
      <div class="row s-mb_60">
      <div class="col-md-6">

        <div class="footer-h">
          <h2 class="s-c_fff">НАЗВАНИЕ МЕНЮ</h2>
        </div>

        <p>
          <a class="footer-links" href="/">Ссылка 1</a>
        </p>
        <p>
          <a class="footer-links" href="/">Ссылка 1</a>
        </p>
        <p>
          <a class="footer-links" href="/">Ссылка 1</a>
        </p>
      </div>

      <div class="col-md-6">

        <div class="footer-h">
          <h2 class="s-c_fff">НАЗВАНИЕ МЕНЮ</h2>
        </div>

        <p>
          <a class="footer-links" href="/">Ссылка 1</a>
        </p>
        <p>
          <a class="footer-links" href="/">Ссылка 1</a>
        </p>
        <p>
          <a class="footer-links" href="/">Ссылка 1</a>
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <img class="s-logo s-icon" src="/static/Index_0002s_0002s_0002s_0001_CWP2.png"/>
        <img class="s-logo-2 s-icon" src="/static/Index_0002s_0002s_0002s_0000_CryptoWorkPlace.png">
      </div>
      <div class="col-md-6 s-ta_r b-year">
        <strong>@DateTime.Now.Year</strong>
      </div>
    </div>
    </div>
  </footer>  
</div>

