<!-- footer-area-start -->
    <footer>
        <section class="subscribe-area" id="contact">
            <div class="container">
                <div class="s-ta_c">
@*                    <img class="s-logo s-icon" src="/static/Index_0002s_0002s_0002s_0001_CWP2.png">*@
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="subscribe">
                            <form action="#">
                                <div class="subscribe-input-box sib-name">
                                    <span><i class="fa fa-user-o"></i></span>
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="subscribe-input-box sib-email">
                                    <span><i class="fa fa-envelope-o"></i></span>
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="subscribe-input-box sib-submit">
                                    <input type="submit" class="button no-h" value="Participate *">
                                </div>
                            </form>
                            <p class="subscribe-text">* Be the first.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="hidden">hi</h4>
        </section>
        <div class="footer-available-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="available">
                            <h5 class="available-title">Wallet available on:</h5>
                            <ul class="available-links">
                                <li><a href="#"><img src="img/home1/download1.png" alt=""></a></li>
                                <li><a href="#"><img src="img/home1/download2.png" alt=""></a></li>
                                <li><a href="#"><img src="img/home1/download3.png" alt=""></a></li>
                                <li><a href="#"><img src="img/home1/download4.png" alt=""></a></li>
                            </ul>
                            <h2 class="available-counter"><span class="counter counter-up" data-counterup-delay="30" data-counterup-time="1500">133</span>K downloads</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="fba-logo">
                            <div class="logo">
                                <a href="01_Home.html">Crypto <span class="semibold">WorkPlace</span></a>
                            </div>
                            <p>© @DateTime.Now.Year All rights reserved</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <ul class="fba-links">
@*                            <li><a href="#">Terms of service</a></li>*@
@*                            <li><a href="#">Privacy policy</a></li>*@
@*                            <li><a href="#">Contacts</a></li>*@
@*                            <li><a href="#">Support</a></li>*@
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <ul class="fba-social">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Google-Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->