 <header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-8">
                <div class="logo">
                    <a class="smoothscroll" href="#hero">Crypto<span class="semibold">WorkPlace</span></a>
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                <div class="menu">
                    <nav class="menu-list">
                        <ul>
                            <li class="active"><a class="smoothscroll" href="#hero">PRODUCT</a></li>
                            <li><a class="smoothscroll" href="#download">TOKEN</a></li>
                            <li><a target="_blank" href="~/static/wp.pdf">DOCUMENTS</a></li>
                            <li><a class="smoothscroll" href="#feature">ROADMAP</a></li>
                            <li><a class="smoothscroll" href="#team">TEAM</a></li>
@*                            <li><a class="smoothscroll" href="#price">PRICE</a></li>*@
                            <li><a class="smoothscroll" href="#contact">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-1 col-xs-4">
                <div class="search">
@*                    <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a>*@
                    <!-- search-modal-start -->
                    <div id="myModal" class="search-modal modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <h4 class="modal-title">Type and Press Enter</h4>
                                <form action="#">
                                    <input type="text" placeholder="Search Here">
                                </form>
                                <div class="modal-close">
                                    <button type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- search-modal-end -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- mobile-menu-start -->
<div class="custom-mobile-menu-area visible-sm visible-xs">
    <div class="mobile-menu">
        <button type="button" data-toggle="collapse" data-target="#mobile_menu_show">CWP</button>
        <i class="fas fa-align-justify" data-toggle="collapse" data-target="#mobile_menu_show"></i>
        <div id="mobile_menu_show" class="collapse">
            <ul>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#hero">PRODUCT</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#download">TOKEN</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" target="_blank" href="~/static/wp_.pdf" href="#feature">DOCUMENTS</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#screenshot">ROADMAP</a></li>
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#team">TEAM</a></li>
@*                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#price">PRICE</a></li>*@
                <li><a data-toggle="collapse" data-target="#mobile_menu_show" class="smoothscroll" href="#contact">CONTACT</a></li>
               
            </ul>
        </div>
    </div>
</div>
<!-- mobile-menu-end -->