
@{
    ViewData["Title"] = "Bounty";
    Layout = "~/Views/Cabinet/_AdminLayout.cshtml";
}

@model ApplicationUser

<div class="row">
							<div class="col-xl-4">
								<!--begin:: Widgets/Announcements 1-->
								<div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Announcements
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
													<a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
														<i class="la la-ellipsis-h m--font-light"></i>
													</a>
													<div class="m-dropdown__wrapper" style="z-index: 101;">
														<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 22.5px;"></span>
														<div class="m-dropdown__inner">
															<div class="m-dropdown__body">
																<div class="m-dropdown__content">
																	<ul class="m-nav">
																		<li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Quick Actions
																			</span>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-share"></i>
																				<span class="m-nav__link-text">
																					Activity
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-chat-1"></i>
																				<span class="m-nav__link-text">
																					Messages
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-info"></i>
																				<span class="m-nav__link-text">
																					FAQ
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																				<span class="m-nav__link-text">
																					Support
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__separator m-nav__separator--fit"></li>
																		<li class="m-nav__item">
																			<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																				Cancel
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<!--begin::Widget 7-->
										<div class="m-widget7 m-widget7--skin-dark">
											<div class="m-widget7__desc">
												Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
											</div>
											<div class="m-widget7__user">
												<div class="m-widget7__user-img">
													<img class="m-widget7__img" src="../../assets/app/media/img//users/100_3.jpg" alt="">
												</div>
												<div class="m-widget7__info">
													<span class="m-widget7__username">
														Dan Bold
													</span>
													<br>
													<span class="m-widget7__time">
														3 days ago
													</span>
												</div>
											</div>
											<div class="m-widget7__button">
												<a class="m-btn m-btn--pill btn btn-danger" href="#" role="button">
													All Feeds
												</a>
											</div>
										</div>
										<!--end::Widget 7-->
									</div>
								</div>
								<!--end:: Widgets/Announcements 1-->
							</div>
							<div class="col-xl-4">
								<!--begin:: Widgets/Blog-->
								<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
									<div class="m-portlet__head m-portlet__head--fit">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-action">
												<button type="button" class="btn btn-sm m-btn--pill  btn-brand">
													Blog
												</button>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget19">
											<div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
												<img src="../../assets/app/media/img//blog/blog1.jpg" alt="">
												<h3 class="m-widget19__title m--font-light">
													Introducing New Feature
												</h3>
												<div class="m-widget19__shadow"></div>
											</div>
											<div class="m-widget19__content">
												<div class="m-widget19__header">
													<div class="m-widget19__user-img">
														<img class="m-widget19__img" src="../../assets/app/media/img//users/user1.jpg" alt="">
													</div>
													<div class="m-widget19__info">
														<span class="m-widget19__username">
															Anna Krox
														</span>
														<br>
														<span class="m-widget19__time">
															UX/UI Designer, Google
														</span>
													</div>
													<div class="m-widget19__stats">
														<span class="m-widget19__number m--font-brand">
															18
														</span>
														<span class="m-widget19__comment">
															Comments
														</span>
													</div>
												</div>
												<div class="m-widget19__body">
													Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text of the printing and typesetting industry scrambled a type specimen book text of the dummy text of the printing printing and typesetting industry scrambled dummy text of the printing.
												</div>
											</div>
											<div class="m-widget19__action">
												<button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
													Read More
												</button>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Blog-->
							</div>
							<div class="col-xl-4">
								<!--begin:: Widgets/Announcements 2-->
								<div class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Announcements
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
													<a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
														<i class="la la-ellipsis-h m--font-light"></i>
													</a>
													<div class="m-dropdown__wrapper">
														<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
														<div class="m-dropdown__inner">
															<div class="m-dropdown__body">
																<div class="m-dropdown__content">
																	<ul class="m-nav">
																		<li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Quick Actions
																			</span>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-share"></i>
																				<span class="m-nav__link-text">
																					Activity
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-chat-1"></i>
																				<span class="m-nav__link-text">
																					Messages
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-info"></i>
																				<span class="m-nav__link-text">
																					FAQ
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__item">
																			<a href="" class="m-nav__link">
																				<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																				<span class="m-nav__link-text">
																					Support
																				</span>
																			</a>
																		</li>
																		<li class="m-nav__separator m-nav__separator--fit"></li>
																		<li class="m-nav__item">
																			<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																				Cancel
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<!--begin::Widget 7-->
										<div class="m-widget7 m-widget7--skin-dark">
											<div class="m-widget7__desc">
												Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
											</div>
											<div class="m-widget7__user">
												<div class="m-widget7__user-img">
													<img class="m-widget7__img" src="../../assets/app/media/img//users/100_5.jpg" alt="">
												</div>
												<div class="m-widget7__info">
													<span class="m-widget7__username">
														Nick Mana
													</span>
													<br>
													<span class="m-widget7__time">
														6 hours ago
													</span>
												</div>
											</div>
											<div class="m-widget7__button">
												<a class="m-btn m-btn--pill btn btn-accent" href="#" role="button">
													All Feeds
												</a>
											</div>
										</div>
										<!--end::Widget 7-->
									</div>
								</div>
								<!--end:: Widgets/Announcements 2-->
							</div>
						</div>

@*<section class="no-padding-top no-padding-bottom">*@
@*    <div class="container-fluid">*@
@*        <div class="row">*@
@*            <div class="col-lg-4">*@
@*                <div class="user-block block text-center">*@
@*                    <div class="avatar">*@
@*                        <img src="https://d19m59y37dris4.cloudfront.net/dark-admin/1-3-2/img/avatar-1.jpg" alt="..." class="img-fluid">*@
@*                        $1$<div class="order dashbg-2">1st</div>#1#*@
@*                    </div><a href="#" class="user-title">*@
@*                        <h5>@Model.UserName</h5><span></span>*@
@*                    </a>*@
@*                    <br />*@
@*                    <div class="contributions">@(Model.BountyUserCampaings?.Sum(b => b.TotalItemCount) ?? 0)</div>*@
@*                    @if (Model.BountyUserCampaings != null && Model.BountyUserCampaings.Any())*@
@*                    {*@
@*                    <div class="details d-flex">*@
@*                        @foreach (var bounty in Model.BountyUserCampaings)*@
@*                        {*@
@*                            <div class="item"><i class="fa @bounty.BountyCampaing.FaClass"></i><strong>@bounty.TotalItemCount</strong></div>*@
@*                        }*@
@*                    </div>*@
@*                    }*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*</section>*@
