
@{
    ViewData["Title"] = "Bounty";
    Layout = "~/Views/Cabinet/_AdminLayout.cshtml";
}

@model ApplicationUser

<div class="row">
	<!-- ko foreach: observables.list -->
	<div class="col-xl-4">
		<!--begin:: Widgets/Blog-->
		<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
			<div class="m-portlet__head m-portlet__head--fit">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-action">
						<button type="button" class="btn btn-sm m-btn--pill  btn-brand">
							<i data-bind="attr:{'class': ('fa ' + $data.faClass)}"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="m-widget19">
					<div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
						<img src="../../assets/app/media/img//blog/blog1.jpg" alt="">
						<h3 data-bind="text: $data.name" class="m-widget19__title m--font-light"></h3>
						<div class="m-widget19__shadow"></div>
					</div>
					<div class="m-widget19__content">
						<div class="m-widget19__header">
							
							<div class="m-widget19__info">
								
							</div>
							<div class="m-widget19__stats">
								<span class="m-widget19__number m--font-brand">
									18
								</span>
								<span class="m-widget19__comment">
									Activities
								</span>
							</div>
						</div>
						<div class="m-widget19__body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text of the printing and typesetting industry scrambled a type specimen book text of the dummy text of the printing printing and typesetting industry scrambled dummy text of the printing.
						</div>
					</div>
					<div class="m-widget19__action">
						<button data-bind="click: $root.actions.join" type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
							Join
						</button>
						
						<button data-bind="click: $root.actions.leave" type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
							Leave
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--end:: Widgets/Blog-->
	</div>
	<!-- /ko -->
</div>


@section Scripts{
	<script src="/js/knockout.js" type="text/javascript"></script>
	<script src="/js/vm/lk/bounty.js" type="text/javascript"></script>
}

