.s-mb_20 { 
	margin-bottom: 20px; 
}

@media (max-width: 768px) {
	.h2, h2 { font-size: 1.1rem; }

	.h3, h3 { font-size: 1.05rem; }

	.s-ms-c { text-align: center; }

	.s-ms_n { display: none; }

	.s-ms_b { display: inline-block; }
	.m-widget14 {
		padding: 0 2.2rem 2.2rem;
	}
}

.s-display_n {
	display: none;
}

.s-display_bi {
	display: block !important;
}


.b-currencies-wrapper {
	overflow: auto;
	max-height:471px;
	margin-bottom:40px;
}

.s-ta_r {
	text-align:right;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__languages .m-topbar__language-selected-img {
	width: 26px;
	border-radius: 50% !important;
}

.grayscale {
	filter: grayscale(1);
}

.btm:disabled {
	cursor:not-allowed;
}

.s-display_n {
	display: none;
}

.s-ta_c {
	text-align:center;
}

.currency-current {
	float:right;
	overflow: hidden;
	text-align: center;
}

.currency-current-right {
	margin:0 120px 0 0;
}

.currency-current-wrapper {
	top:0;
	margin-bottom:30px;
	position: relative;
	transition: top cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
}

.s-mb_40i {
	margin-bottom:40px; !important;
}

.b-empty-search--coins {
	text-align:center;
	padding: 40px 0;
}

.b-ask-text {
	padding: 0 0 20px;
	/*text-align: center;*/
	background-color:#fff;
}

.slide-up {
	top: -100%;
	/*position: absolute;*/
}

.slide-down {
	top: 0;
	/*position: absolute;*/
}

.b-ask-wl--input {
	opacity:0;
	transition: opacity ease-out .5s;
}

.show-slow {
	opacity:1;
}

.s-overflow_h {
	overflow: hidden;
}

.s-pointer {
	cursor: pointer;
}

.s-icon {
	display:inline-block;
	vertical-align: middle;
}
.s-mr_5 {
	margin-right:5px;
}

.btn-copy {
	display: inline-block;
	vertical-align: middle;
	width:15px;
	height:15px;
	cursor: pointer;
}

.s-mb_10 {
	margin-bottom:10px;
}
.s-mb_20 {
	margin-bottom:20px;
}

.form-control.ammount-control {
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom-width: 2px;
	padding: 4px 0;
	font-weight: 600 !important;
}

.s-expandable .fa-angle-up{
	display:none;
}

.s-expandable.opened .fa-angle-down{
	display:none;
}
.s-expandable.opened .fa-angle-up{
	display:inline-block;
}

.b-tx-info {
	background-color: #f4f5f8;
}

.s-mr_10 {
	margin-right:10px;
}

td.active {
	color:#222;
	font-weight: 700;
}

.t-coins td {
	vertical-align: middle;
}

.m-input-group--nonborder input.form-control{
	border:0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group-append.b-receive-after {
	padding: 0 0 0 10px;
	font-size: 15px;
	color: #5867dd;
	font-weight: 500;
	line-height: 22px;
}

.input-group-prepend.b-receive-before {
	padding: 0 5px 0 0;
	font-size: 15px;
	color: #5867dd;
	font-weight: 500;
	line-height: 22px;
}

.m-widget25 .m-widget25--progress {
	display: table;
	width: 100%;
	margin: 0 auto 0;
	padding-top: 20px;
}

.s-c_777 {
	color:#777 !important;
}

.s-fw_600 {
	font-weight:600;
}

.purch-addr{
	overflow: hidden;
	/* display: inline-block; */
	text-overflow: ellipsis;
	
	/* padding-right: 25px; */
	/* float: left; */
}

.s-dashed-link {
	border-bottom: 2px dashed #777;
	text-decoration: none;
}

a.s-dashed-link:hover {
	text-decoration: none;
}