<!-- Sidebar Navidation Menus-->
<span class="heading">Main</span>
<ul class="list-unstyled">
    <li active-class="active" active-controller="Cabinet" active-action="Index">
        <a asp-controller="Cabinet" asp-action="Index"> <i class="icon-home"></i>Dashboard</a>
    </li>
    <li active-class="active" active-controller="Blockchain" active-action="Index">
        <a asp-controller="Admin" asp-action="Blockchain"> <i class="icon-grid"></i>Blockchain</a>
    </li>

    <li>
        <a href="#exampledropdownDropdown" aria-expanded="true" data-toggle="collapse"> <i class="fa fa-bar-chart"></i>Bounty</a>
        <ul id="exampledropdownDropdown" class="list-unstyled ">
            <li active-class="active" active-route="BountyDashboard"><a asp-route="BountyDashboard">Dashboard</a></li>
            <li active-class="active" active-route="BountyWorkplace"><a asp-route="BountyWorkplace">Work Place</a></li>
            <li active-class="active" active-route="BountyCommunication"><a asp-route="BountyCommunication">Communication</a></li>
            <li active-class="active" active-route="BountyModeration"><a asp-route="BountyModeration">Moderation</a></li>
            <li active-class="active" active-route="BountyManage"><a asp-route="BountyManage">Manage</a></li>
        </ul>
    </li>

    @*<li>
        <a href="forms.html"> <i class="icon-padnote"></i>Forms </a>
    </li>
    <li>
        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Example dropdown </a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
        </ul>
    </li>*@
    @if ((await Authorization.AuthorizeAsync(User, "CanAccessUsers")).Succeeded)
    {
        <li active-route="UserManagement" active-class="active">
            <a asp-route="UserManagement"> <i class="fa fa-users"></i>Users</a>
        </li>
    }
</ul>

@*<span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
    </ul>*@