
@{
    ViewData["Title"] = "Exchanger";
    Layout = "~/Views/Cabinet/_AdminLayout.cshtml";
}

<style>
    .s-mb_20 {
        margin-bottom: 20px;
    }
</style>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="la la-puzzle-piece"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    APPLY FOR SALE FORM
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-pricing-table-1">
            <div class="m-pricing-table-1__items row">

                <div style="text-align: left;" class="col-lg-6">

                    <h2>Minimum contribution is 500 tokens</h2>

                    <label>I would like to buy tokens: </label>
                    <input id="tokenAmount" style="margin-bottom: 20px;" type="number" class="form-control">

                    <div style="margin-bottom: 20px;">
                        <h3 style="margin-bottom: 10px;">I need to pay:</h3>
                        <h4><span id="toPay">0</span> ETH</h4>
                    </div>

                    <div class="s-mb_20">
                        <label>Please enter your ETH address *</label>
                        <input id="ethAddr" type="text" class="form-control">
                        <button id="saveAddr" type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Save addr</button>
                    </div>

                    <button id="purchase" type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Purchase</button>
                </div>

                <div style="" class="col-lg-6">
                    <h2>Balance</h2>
                    <div id="ballance" style="font-size: 50px;">0</div>
                    <strong>CryptoWorkPlace Token (CWT-P)</strong><br />
                    <strong>Current round: <span id="round"></span></strong><br />
                    <strong>Current cap: <span id="cap"></span></strong><br />
                    <strong>Sold: <span id="sold"></span></strong><br />
                    <strong>Current rate: <span id="rate"></span></strong><br />
                    <strong>Refund: <span id="refund"></span></strong>
                    <button id="refundBtn" type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Refund</button><br />
                    <strong>End time: <span id="endTime"></span></strong>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script src="~/js/web3.min.js" asp-append-version="true"></script>
    <script>
        var web3js;

        (function () {

            // Checking if Web3 has been injected by the browser (Mist/MetaMask)
            if (typeof web3 !== 'undefined') {
                // Use Mist/MetaMask's provider
                web3js = new Web3(web3.currentProvider);
            } else {
                console.log('No web3? You should consider trying MetaMask!')
                // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
                web3js = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
            }

            $.getJSON('/api/v1/usersettings').done(function (result) {
                $('#ethAddr').val(result.ethAddress)
            });

            updateUI();
            var accountInterval = setInterval(updateUI, 5000);


        })();

        $('#tokenAmount').on('input', function (e) {
            var t = parseInt(e.currentTarget.value);
            $.get('/api/v1/exchanger/calc/' + t).done(function (result) {
                $('#toPay').text(result);
            })
        });

        $('#saveAddr').click(function () {
            var ethAddr = $('#ethAddr').val();
            $.ajax({
                url: '/api/v1/usersettings',
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify({ ethAddress: ethAddr }),
                success: function (data) {
                    alert('Saved!');
                }
            });
        });

        $('#purchase').click(function () {
            var ethAddr = $('#ethAddr').val();
            $.getJSON('/api/v1/exchanger/addr').done(function (result) {
                debugger;
                web3js.eth.sendTransaction({ from: $('#ethAddr').val(), to: result, value: web3js.utils.toWei($('#toPay').text()) });
            });
        });

        $('#refundBtn').click(function () {
            $.getJSON('/api/v1/exchanger/refund').done(function (result) {
                alert('Trx: ' + result);
            })

        });

        function updateUI() {
            $.getJSON('/api/v1/exchanger').done(function (result) {
                console.log(result);
                $('#ballance').text(result.ballance);
                $('#round').text(result.step);
                $('#cap').text(result.cap);
                $('#sold').text(result.sold);
                $('#rate').text(result.rate);
                $('#refund').text(result.refund);
                $('#endTime').text(new Date(result.stepEndTime * 1000).toUTCString());
            });
        }
    </script>
}