
@{
    ViewData["Title"] = "Exchanger";
    Layout = "~/Views/Cabinet/_AdminLayout.cshtml";
}

<style>
  .s-mb_20 {
	  margin-bottom: 20px;
  }
</style>

<div class="m-portlet">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon">
				<i class="la la-puzzle-piece"></i>
				</span>
				<h3 class="m-portlet__head-text">
					APPLY FOR SALE FORM
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="m-pricing-table-1">
			<div class="m-pricing-table-1__items row">
				
				<div style="text-align: left;" class="col-lg-6">

					<h2>Minimum contribution is 10 ETH</h2>

					<label>I would like to buy tokens for the sum of: *</label>
					<input style="margin-bottom: 20px;" type="text" class="form-control"/>

					<div style="margin-bottom: 20px;">
						<h3 style="margin-bottom: 10px;">I will receive</h3>
						<h4>0 CWT-T</h4>
					</div>

					<div class="s-mb_20">
						<label>Please enter your ETH address *</label>
						<input type="text" class="form-control"/>
					</div>

					<div class="s-mb_20">
						<label>Please enter your first name *</label>
						<input type="text" class="form-control"/>
					</div>

					<div class="s-mb_20">
						<label>Please enter your last name *</label>
						<input type="text" class="form-control"/>
					</div>

					<div class="s-mb_20">
						<label>Please enter your country *</label>
						<select class="form-control">
							<option></option>
						</select>
					</div>

					<div class="s-mb_20">
						<label>Please enter your Telegram</label>
						<input type="text" class="form-control"/>
					</div>

					<div class="s-mb_20">
						<input style="width: 20px; float: left; margin-top: 4px;" id="conf-1" type="checkbox" class=""/>
						<label style="display: block; margin: 0 0 0 25px;" for="conf-1">I hereby expressly covenant, warrant and represent, that I am of at least 18 years of age, and have the full capacity and legal competence to use the Website and participate in the PlayHall token sale.</label>
					</div>

					<div class="s-mb_20">
						<input style="width: 20px; float: left; margin-top: 4px;" id="conf-2" type="checkbox" class=""/>
						<label style="display: block; margin: 0 0 0 25px;" for="conf-2">I confirm that I’ve entered my personal information fully and correctly (it’ll help to restore access to your account in the case of email hacking or theft).</label>
					</div>

					<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">NEXT</button>
				</div>
				
				<div style="" class="col-lg-6">
					<h2>Balance</h2>
					<div style="font-size: 50px;">0</div>
					<strong>CryptoWorkPlace Token (CWT-T)</strong>
				</div>
				
				
				@*				<div class="m-pricing-table-1__item col-lg-6">*@
				@*					<div class="m-pricing-table-1__visual">*@
				@*						<div class="m-pricing-table-1__hexagon1"></div>*@
				@*						<div class="m-pricing-table-1__hexagon2"></div>*@
				@*						<span class="m-pricing-table-1__icon m--font-brand"><i class="fa flaticon-rocket"></i></span>*@
				@*					</div>*@
				@*					<span class="m-pricing-table-1__price">Free</span> 				 *@
				@*					<h2 class="m-pricing-table-1__subtitle">Via bounty</h2>*@
				@*					<span class="m-pricing-table-1__description">*@
				@*						Join our bounty programms<br>*@
				@*						and get tokens<br> *@
				@*						<strong>FOR FREE</strong>*@
				@*					</span>				 *@
				@*					<div class="m-pricing-table-1__btn">*@
				@*						<a href="/my/bounty" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Get For Free</a>*@
				@*					</div>*@
				@*				</div>*@
				@*				<div class="m-pricing-table-1__item col-lg-4">*@
				@*					<div class="m-pricing-table-1__visual">*@
				@*						<div class="m-pricing-table-1__hexagon1"></div>*@
				@*						<div class="m-pricing-table-1__hexagon2"></div>*@
				@*						<span class="m-pricing-table-1__icon m--font-brand"><i class="fa flaticon-piggy-bank"></i></span>*@
				@*					</div>*@
				@*					<span class="m-pricing-table-1__price">0.12<span class="m-pricing-table-1__label">$</span></span> 						 *@
				@*					<h2 class="m-pricing-table-1__subtitle">ETH transaction</h2>*@
				@*					<span class="m-pricing-table-1__description">*@
				@*						Bay tokens for ETH<br>*@
				@*						send your's ETH to this address<br> *@
				@*						<strong>0x87851e23294e0c374e849f0f159c07af31701de6</strong>*@
				@*					</span>	*@
				@*					<div class="m-pricing-table-1__btn">*@
				@*						<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Purchase</button>*@
				@*					</div>*@
				@*				</div>*@

			</div>
			
			<div class="m-pricing-table-1__items row">
				
				<div style="text-align: left;" class="col-lg-12">

					<h2>REPRESENTATIONS AND WARRANTIES FOR PLAYHALL TOKENS PURCHASING.</h2>
					
					<p>BY PURCHASING PLAYHALL TOKENS YOU HEREBY EXPRESSLY COVENANT, REPRESENT AND WARRANT, THAT:</p>

					<div class="s-mb_20">
						<input style="width: 20px; float: left; margin-top: 4px;" id="term-1" type="checkbox" class=""/>
						
						<label style="display: block; margin: 0 0 0 25px;" for="term-1">
							You have read and accepted the Terms and Conditions, and all Accompanying documents, including Tokens Sale Purchase Agreement, Token Sale Privacy Policy and White Paper in their entirety. Also, You fully agree and understand, that You will not be free to use PlayHall tokens immediately after Your purchase.
						</label>
					</div>

					<div class="s-mb_20">
						<input style="width: 20px; float: left; margin-top: 4px;" id="term-2" type="checkbox" class=""/>
						<label style="display: block; margin: 0 0 0 25px;" for="term-2">
							You are solely responsible for the safety and control of the address and/or cryptocurrency wallet used for the token sale contribution. You are not acting on behalf of any third party, and you will not transfer the control of the address and/or cryptocurrency wallet to any third party prior to having received the PlayHall tokens. You will not use the Website for any illegal or fraudulent activity, including, but not limited money laundering and financing of terrorism, and you have never, by any means, been engaged in any illegal activity.
						</label>
					</div>
					
					<div class="s-mb_20">
						<input style="width: 20px; float: left; margin-top: 4px;" id="term-3" type="checkbox" class=""/>
						<label style="display: block; margin: 0 0 0 25px;" for="term-3">
							You are of at least 18 years of age, meet all other eligibility criteria, and you are fully capable and legally competent to use the Website and participate in PlayHall token sale or conduct any operations with cryptocurrency under applicable law and the Terms and Conditions, and all Accompanying documents. All the information, You provide, is accurate and complete. You give your absolute consent to update the information accordingly and follow the extensive KYC- and AML- procedures, stipulated by the PlayHall Website owner.
						</label>
					</div>
					
					<div class="s-mb_20">
						<input style="width: 20px; float: left; margin-top: 4px;" id="term-4" type="checkbox" class=""/>
						<label style="display: block; margin: 0 0 0 25px;" for="term-4">
							You are not identified, and not acting on behalf of the person identified, in any lists of sanctioned persons, including but not limited to U.S. Treasury Department's list of Specially Designated Nationals and Blocked Persons, the U.S. Commerce Department's Denied Person List, the EU Consolidated List of Persons; UN-, US-, EU-, CH- or any other sovereign country sanctions or embargoes. You meet the residency criteria and you are not a citizen of, residing in or located at country or territory that is the target of United States economic or trade sanctions (currently, Cuba, Iran, Syria, North Korea, and the Crimea region of Ukraine; You are not otherwise the target of United States economic or trade sanctions; and You are not acting on behalf of the governments of the mentioned countries or territories, and you have no other affiliation to such sanctions or territories. You are not a citizen of or located and/or residing in any country, territory or geographical area, where the distribution of tokens would be unlawful or restricted by any regulation, including if such distribution would require licensing, and You have no other affiliation to the mentioned countries and territories.
						</label>
					</div>

					<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">SUBMIT</button>
				</div>
				
			</div>
			
		</div>
	</div>
</div>