
@{
    ViewData["Title"] = "Exchanger";
    Layout = "~/Views/Cabinet/_AdminLayout.cshtml";
}



<div class="m-portlet">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon">
				<i class="la la-puzzle-piece"></i>
				</span>
				<h3 class="m-portlet__head-text">
					Tokens ordering
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="m-pricing-table-1 m-pricing-table-1--fixed">
			<div class="m-pricing-table-1__items row">
				<div class="m-pricing-table-1__item col-lg-6">
					<div class="m-pricing-table-1__visual">
						<div class="m-pricing-table-1__hexagon1"></div>
						<div class="m-pricing-table-1__hexagon2"></div>
						<span class="m-pricing-table-1__icon m--font-brand"><i class="fa flaticon-rocket"></i></span>
					</div>
					<span class="m-pricing-table-1__price">Free</span> 				 
					<h2 class="m-pricing-table-1__subtitle">Via bounty</h2>
					<span class="m-pricing-table-1__description">
						Join our bounty programms<br>
						and get tokens<br> 
						<strong>FOR FREE</strong>
					</span>				 
					<div class="m-pricing-table-1__btn">
						<a href="/my/bounty" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Get For Free</a>
					</div>
				</div>
				<div class="m-pricing-table-1__item col-lg-6">
					<div class="m-pricing-table-1__visual">
						<div class="m-pricing-table-1__hexagon1"></div>
						<div class="m-pricing-table-1__hexagon2"></div>
						<span class="m-pricing-table-1__icon m--font-brand"><i class="fa flaticon-piggy-bank"></i></span>
					</div>
					<span class="m-pricing-table-1__price">0.12<span class="m-pricing-table-1__label">$</span></span> 						 
					<h2 class="m-pricing-table-1__subtitle">ETH transaction</h2>
					<span class="m-pricing-table-1__description">
						Bay tokens for ETH<br>
						send your's ETH to this address<br> 
						<strong>0x87851e23294e0c374e849f0f159c07af31701de6</strong>
					</span>	
					<div class="m-pricing-table-1__btn">
						<button type="button" class="btn m-btn--pill  btn-brand m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Purchase</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>