@{
    ViewData["Title"] = "Confirm email";
}

<style>
    .section.hero_mod:after {
        background-image: none;
    }
    .section.hero_mod:before {
        background: none;
    }
</style>

<section class="section hero_mod">
    <div class="section_in" >
        <div style="text-align: center;" class="how_it_text">
                <p>
                    Please confirm your email.
                </p>
                <p>
                    <a asp-action="ResendConfirmationEmail" asp-controller="Account">Resend</a> confirmation E-Mail.
                </p>
        </div>
    </div>
</section>

@section Scripts {
    
}
