@{
    ViewData["Title"] = "Confirm email";
}


<div id="home" class="b-block b-main">
    <div class="container" style="z-index: 10;position: relative;">
        <div class="row b-main-top">
            <div class="col-md-12">

                <p class="b-confirm-msg">
                    Please confirm your email.
                </p>
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
}
