<!-- START HEADER -->
<header class="header_wrap fixed-top">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg"> 
			<a class="navbar-brand page-scroll animation" href="#home_section" data-animation="fadeInDown" data-animation-delay="1s"> 
            	<img class="logo_light" src="assets/images/logo.png" alt="logo" /> 
                <img class="logo_dark" src="assets/images/logo_dark.png" alt="logo" /> 
            </a>
            <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s"> 
                <span class="ion-android-menu"></span> 
            </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="dropdown animation" data-animation="fadeInDown" data-animation-delay="1.1s">
						<a data-toggle="dropdown" class="nav-link dropdown-toggle active" href="#">Home</a>
							<div class="dropdown-menu">
       							<ul class="list_none">
                                	<li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index.html">Home Page</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                	</li>
                       				<li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-light-blue-pro.html">Landing page Light Blue Pro</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-blue-pro.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-blue-pro-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-blue-pro-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                    <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-blue-pro.html">Landing page Blue Pro</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-pro.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-pro-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-pro-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-blue-light.html">Landing page Light Blue</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-light.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-light-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-light-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-blue.html">Landing page Blue</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-blue-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-light-dark.html">Landing page Light Dark</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-dark.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-dark-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-dark-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link page-scroll dropdown-toggler active" href="#home_section">Landing page Dark</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-dark.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-dark-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item active page-scroll" href="#home_section">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-royal-blue.html">Landing page Royal Blue</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-royal-blue.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-royal-blue-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-royal-blue-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-navy-blue.html">Landing page Navy Blue</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-navy-blue.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-navy-blue-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-navy-blue-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                                   <li>
                                        <a class="dropdown-item menu-link dropdown-toggler" href="index-light-purple.html">Landing page Light Purple</a>
                                        <div class="dropdown-menu">
                                            <ul class="list_none"> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-purple.html">Default</a></li> 
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-purple-particle.html">Particle</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="index-light-purple-modern.html">modern</a></li>
                                            </ul>
                                        </div>
                                   </li>
                      			</ul>
                         	</div>   
                    </li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.2s"><a class="nav-link page-scroll nav_item" href="#service">Services</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.3s"><a class="nav-link page-scroll nav_item" href="#about">About</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a class="nav-link page-scroll nav_item" href="#token">Token</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.5s"><a class="nav-link page-scroll nav_item" href="#roadmap">Road Map</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.6s"><a class="nav-link page-scroll nav_item" href="#team">Team</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.7s"><a class="nav-link page-scroll nav_item" href="#faq">FAQ</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.8s"><a class="nav-link page-scroll nav_item" href="#contact">Contact</a></li>
                </ul>
                <ul class="navbar-nav nav_btn align-items-center">
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.9s">
                        <div class="lng_dropdown">
                          <select name="countries" id="lng_select">
                            <option value='en' data-image="assets/images/eng.png" data-title="English">EN</option>
                            <option value='fn' data-image="assets/images/fn.png" data-title="France">FN</option>
                            <option value='us' data-image="assets/images/us.png" data-title="United States">US</option>
                          </select>
                        </div>
                    </li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="2s"><a class="btn btn-default btn-radius nav_item" href="login.html">Login</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="2.1s"><a class="nav-link nav_item" href="signup.html">Sign Up</a></li>
                </ul>
			</div>
		</nav>
	</div>
</header>
<!-- END HEADER --> 