
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #fff;
}

.s-o_h{
	overflow: hidden;
}

.s-o_a{
	overflow: auto;
}

.c-stn-1 {
	color:#000 !important;
}
.c-stn-2 {
	color:#fff;
}
.c-stn-3 {
	color:#0015FF;
}
.c-stn-4 {
	color:#eaeaea;
}
.c-stn-5 {
	color:#7c7c7c;
}
.c-stn-5 {
	color:#b7b7b7;
}

.b-stn-1 {
	background-color:#000;
}
.b-stn-2 {
	background-color:#fff;
}
.b-stn-3,
.b-block.b-stn-3{
	background-color:#0011ff;
}
.b-stn-4 {
	background-color:#0e0f0f;
}

.b-stn-5{
	background-color:#d0deea;
}

.b-stn-6{
	background-color:#b3c7d6;
}

.b-stn-7{
	background-color:#9aa8ba;
}

.s-ta_c {
	text-align: center;
}

.s-ta_r {
	text-align: right;
}

.s-mr_30 {
	margin-right:30px;
}

.s-mr_20 {
	margin-right:20px;
}

h2.s-ta_l, 
.s-ta_l {
	text-align: left;
}

.s-p_0 {
	padding:0 !important;
}

.s-float_l {
	float:left;
}
.s-float_r {
	float:right;
}

.s-fs_18 {
	font-size: 18px;
}

.s-fs_20 {
	font-size: 20px;
}

.through {
	text-decoration: line-through;
}


.s-mb_50{margin-bottom:50px;}

.clear {
	clear: both
}


.z-100 {
	z-index: 100;
}

.z-200 {
	z-index: 200;
}

.z-300 {
	z-index: 300;
}
.z-400 {
	z-index: 400;
}