.visible-sm {
	display:none;
}
.visible-xs {
	display:none;
}
@media only screen and (min-width:240px) and (max-width:480px){
	.b-feach img{
		width:100%;
	}
	
	.b-main_hsub {
		text-align:center;
	}
	
	.h1 {
		text-align:center;
	}

	.read-wp-btn,
	.link-label.read-wp-btn-link{
		display:none;
	}

	.show-lg {
		display:none !important;
	}
	
	.s-ta_c-xs,
	.s-ta_l.s-ta_c-xs {
		text-align:center;
	}

	.s-ta_c-sm,
	.s-ta_l.s-ta_c-sm {
		text-align:center;
	}

	.b-feach-h:before {
		position: static !important;
		right: auto !important;
	}
	
	.enter-wl-btn {
		margin-right:0;
	}
	
	.b-timer_wrapper {
		float:none;
		text-align:center;
	}
	
	.visible-xs {
		display:block;
	}
	
	.hidden-xs {
		display:block;
	}

	.secure-m {
		width:70% !important;
	}

	.b-block {
		padding: 40px 0;
	}
	
	.secure-2 {
		width:100% !important;
	}

	.b-problem {
		text-align: center;
		padding-left: 0;
	}

	.b-team_img_w img{
		width:100%;
	}
	
	.h-tab {
		padding-bottom:20px;
	}

	.b-spec_img-wrapper {
		float:none;
		text-align: center;
	}

	.b-spec {
		margin:0 !important;
	}

.b-block.b-main {
		padding: 80px 0 20px;
		background: url("/images/upload-608d2a60-b48e-11e8-b5f2-0b6fb9a7fc3a.jpg") 0 0 no-repeat;
		background-size: cover;
	}
	
	.enter-wl-btn {
		margin-bottom:10px;
	}

	.b-block.b-main {
		/*width:388px;*/
		height:630px;
		/*left:-33px;*/
		/*top:-147px;*/
	}
	
	h1.h1 {
		padding: 330px 0 0;
		margin: 0 0 0 0;
		font-size: 24px;
		line-height: 28px;
	}

	.btn.btn-xl {
		font-size: 22px;
		line-height: 34px;
		padding: 10px 28px;
	}

	.b-main-top {
		margin-bottom:10px;
	}

	.b-team-background {
		font-size:13px;
		line-height: 18px;
	}

	.b-book-inside{
		padding: 10px 5px 15px 8px;
	}

	.navbar-brand > img{
		margin-left:auto !important;
	}
	.b-round_head {
		font-size: 22px;
	}
	
}

@media only screen and (min-width:481px) and (max-width:767px){
	.b-feach img{
		width:100%;
	}

	.b-main_hsub {
		text-align:center;
	}

	.h1 {
		text-align:center;
	}
	
	.read-wp-btn,
	.link-label.read-wp-btn-link{
		display:none;
	}

	.show-lg {
		display:none !important;
	}

	.s-ta_c-xs,
	.s-ta_l.s-ta_c-xs{
		text-align:center;
	}

	.enter-wl-btn {
		margin-right:0;
	}

	.b-timer_wrapper {
		float:none;
		text-align:center;
	}
	
	.b-feach-h:before {
		position: static !important;
		right: auto !important;
	}

	.visible-sm {
		display:block !important;
	}

	.hidden-sm {
		display:none;
	}
	
	.secure-m {
		width:70% !important;
	}
	
	.b-block {
		padding: 40px 0;
	}

	.secure-2 {
		width:100% !important;
	}

	.b-problem {
		text-align: center;
		padding-left: 0;
	}
	
	.b-team_img_w img{
		width:100%;
	}

	.h-tab {
		padding-bottom:20px;
	}
	
	.b-spec {
		margin:0 !important;
	}
	
	.b-spec_img-wrapper {
		float:none;
		text-align: center;
	}
	.enter-wl-btn {
		margin-bottom:18px;
	}
	
	.b-block.b-main {
		/*width:388px;*/
		height:737px;
		/*left:-33px;*/
		/*top:-147px;*/
	}

	.b-block.b-main {
		padding: 80px 0 20px;
		background: url("/images/upload-608d2a60-b48e-11e8-b5f2-0b6fb9a7fc3a.jpg") 0 0 no-repeat;
		background-size: cover;
	}
	
	h1.h1 {
		font-size:30px;
		line-height:36px;
	}

	.btn.btn-xl {
		font-size: 22px;
		line-height: 34px;
		padding: 10px 28px;
	}

	.b-ban-btns-sm {
		position: absolute;
		left:0;
		right:0;
		bottom:0;
	}

	.b-team-background {
		font-size:13px;
		line-height: 18px;
	}

	.b-book-inside{
		padding: 10px 5px;
	}

	.navbar-brand > img{
		margin-left:auto !important;
	}
}
