.visible-sm {
	display:none;
}
.visible-xs {
	display:none;
}
@media only screen and (min-width:240px) and (max-width:480px){
	.b-feach img{
		width:100%;
	}
	
	.b-main_hsub {
		text-align:center;
	}
	
	.h1 {
		text-align:center;
	}

	.read-wp-btn,
	.link-label.read-wp-btn-link{
		display:none;
	}

	.show-lg {
		display:none !important;
	}
	
	.s-ta_c-xs,
	.s-ta_l.s-ta_c-xs {
		text-align:center;
	}

	.s-ta_c-sm,
	.s-ta_l.s-ta_c-sm {
		text-align:center;
	}

	.b-feach-h:before {
		position: static !important;
		right: auto !important;
	}
	
	.enter-wl-btn {
		margin-right:0;
	}
	
	.b-timer_wrapper {
		float:none;
		text-align:center;
	}
	
	.visible-xs {
		display:block;
	}
	
	.hidden-xs {
		display:block;
	}

	.secure-m {
		width:70% !important;
	}

	.b-block {
		padding: 40px 0;
	}
	
	.secure-2 {
		width:100% !important;
	}

	.b-problem {
		text-align: center;
		padding-left: 0;
	}

	.b-team_img_w img{
		width:100%;
	}
}

@media only screen and (min-width:481px) and (max-width:767px){
	.b-feach img{
		width:100%;
	}

	.b-main_hsub {
		text-align:center;
	}

	.h1 {
		text-align:center;
	}
	
	.read-wp-btn,
	.link-label.read-wp-btn-link{
		display:none;
	}

	.show-lg {
		display:none !important;
	}

	.s-ta_c-xs,
	.s-ta_l.s-ta_c-xs{
		text-align:center;
	}

	.enter-wl-btn {
		margin-right:0;
	}

	.b-timer_wrapper {
		float:none;
		text-align:center;
	}
	
	.b-feach-h:before {
		position: static !important;
		right: auto !important;
	}

	.visible-sm {
		display:block;
	}

	.hidden-sm {
		display:block;
	}
	
	.secure-m {
		width:70% !important;
	}
	
	.b-block {
		padding: 40px 0;
	}

	.secure-2 {
		width:100% !important;
	}

	.b-problem {
		text-align: center;
		padding-left: 0;
	}
	
	.b-team_img_w img{
		width:100%;
	}
}
