/*TODO REMOVE imports*/
@import url('common.css');
@import url('cwp-font/styles.css');
@import url('cwp-font/extentions.css');

@font-face {
    font-family: 'RobotoIn';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto-Regular-webfont.eot');
    src: url('/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'RobotoIn';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Roboto-Bold-webfont.eot');
    src: url('/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'pt';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/PTF55F-webfont.eot');
    src: url('/fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PTF55F-webfont.woff') format('woff');
}
@font-face {
    font-family: 'pt';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/PTF75F-webfont.eot');
    src: url('/fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PTF75F-webfont.woff') format('woff');
}

@font-face {
    font-family: 'futura';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/FuturaPT-Medium.eot');
    src: url('/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaPT-Medium.woff') format('woff');
}
@font-face {
    font-family: 'futura';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/FuturaPT-Bold.eot');
    src: url('/fonts/FuturaPT-Boldt?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaPT-Bold.woff') format('woff');
}

body {
    
    padding-bottom: 0;
    font-family: 'RobotoIn', sans-serif;
}

p {
    font-family: 'pt';
}

.pt{
    font-family: 'pt';
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h1.h1, h1, h2{
    font-family: 'futura', serif;
}


.b-main {
    /*background: url("/images/upload-d01bb0f1-b44c-11e8-9a0a-ed19b45a0cd0.jpg") 0 0 no-repeat;*/
    /*background-size: cover;*/
    min-height:649px;
    overflow: hidden;
}

.b-block.b-main{
    padding: 131px 0 60px;
}

.navbar-inverse{
    background-color: #101010b0;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size:18px;
    /*line-height:23px;*/
}

.navbar-brand > img{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}


.navbar-brand {
    padding:0;
}

.b-logo-text {
    font-size: 40px;
    line-height: 51px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-family: 'futura', serif;
}

.b-block {
    padding: 80px 0;
    background-color:#000;
    position: relative;
}

.b-block-h {
    color:#eaeaea;
    font-size:40px;
    line-height:51px;
    text-align:center;
    margin-bottom: 36px;
    font-weight: 700;
}

.b-team {
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.b-team_img_w{
    margin-bottom:20px;
}

.b-team-img {
    border-radius: 50%;
}

.b-team-name {
    color:#fff;
    font-size:20px;
}

.b-team-position {
    color:#b7b7b7;
    font-size:16px;
    margin-bottom:20px;
}

.b-team-s-link {
    color: #000;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    padding: 2px;
    margin: 0 5px;
}

.b-problem {
    min-height:450px;
    padding-top:100px;
    padding-left: 100px;
}

.fff-back {
    background: #fff;
    display: block;
    height: 450px;
    width: 1000px;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
}


.b-feach {
    padding-top:40px;
    padding-bottom:40px;
}

.b-feach-h {
    font-size:32px;
    line-height:41px;
    margin-bottom:15px;
    font-weight: 700;
    color:#7c7c7c;
    position: relative;
}

.b-feach-h:before {
    position: absolute;
    right: 100%;
    color:#0015FF;
    content:'—';
    padding-right: 10px;
}

.b-feach-c {
    font-size:18px;
    line-height: 26px;
    color:#fff;
}

.h-tab {
    font-size:40px;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom:40px;
    border-bottom:2px solid #0011ff;
    color:#fff;
}

.h-tab sup {
    font-size:15px;
    letter-spacing: 3px;
    top: -1em;
    font-weight: 700;
    font-family: 'futura', serif;
}

.b-spec_img-wrapper{
    float:left;
    overflow: hidden;
}

.b-spec {
    list-style: none;
    color:#b7b7b7;
    font-size: 18px;
    line-height:33px;
    margin:100px 0 0 200px;
}

.b-spec li {
    margin-bottom:20px;
}

.b-round {
    border-radius: 20px;
    padding:30px 40px;
    position: relative;
}

.b-round_s {
    border-radius: 0 0 20px 20px;
    margin-top: -20px;
    padding-top: 50px;
}

.b-round_head {
    font-size:40px;
    line-height: 50px;
    color:#0015FF;
    font-family: 'futura', serif;
    font-weight: 700;
}


.b-footer-policy {
    color:#8e8e8e;
    font-size: 12px;
    line-height: 15px;
}

a.s-cwp{
    color:#fff;
    font-size:24px;
    line-height: 30px;
}

footer {
    font-size:16px;
    color:#fff;
}

a.footer {
    color:#fff;
}

a.footer_b {
    display: inline-block;
    border-bottom:2px solid #0011ff;
}

h1.h1{
    font-size: 40px;
    line-height: 50px;
    color:#eaeaea;
    margin-bottom:110px;
    font-weight: 700;
}

.b-main_hsub {
    color:#fff;
    font-size:18px;
    line-height:23px;
    margin-bottom: 60px;
}

.b-main_link {
    color:#fff;
    font-size:20px;
    line-height:25px;
    display: inline-block;
    text-decoration:underline;
}

a.b-main_link:hover {
    color:#fff;
    text-decoration:none;
}

.b-main-top {
    margin-bottom:40px;
}

.btn.btn-square {
    border-radius:0;
}

a.btn.btn-white, 
.btn.btn-white,
.navbar-nav .btn.btn-white{
    background-color:#fff;
    color:#000;
} 


.btn.btn-xl {
    font-size: 26px;
    line-height:36px;
    text-transform: uppercase;
    color: rgb(0,0,0);
    padding: 15px 38px;
}

.btn.btn-border-outline {
    border-width: 3px;
}

.btn.btn-border-outline:hover {
    border: 3px solid rgb(0,17,255);
    background-color: transparent;
    color:#fff;
}

.btn.btn-border-outline-i {
    border: 3px solid rgb(0,17,255);
}

.btn.btn-border-outline-i:hover {
    border: 3px solid #0078FF;
    background-color: #0078FF;
    color: #fff;
}


.fa-1-5x {
    font-size:1.5em;
}

@keyframes animation_9 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,144,0,0,1); opacity: 1; }
}
@keyframes animation_11 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,24,0,0,1); opacity: 1; }
}
@keyframes animation_10 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,227,0,0,1); opacity: 1; }
}
@keyframes animation_1 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,182,1,0,1); opacity: 1; }
}

@keyframes animation_3 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,82,0,0,1); opacity: 1; }
}

@keyframes animation_4 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,129,0,0,1); opacity: 1; }
}

@keyframes animation_5 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-out}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,171,0,0,1); opacity: 1; }
}

@keyframes animation_2 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,83,0,0,1); opacity: 1; }
}

@keyframes animation_6 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,132,0,0,1); opacity: 1; }
}

@keyframes animation_7 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,159,0,0,1); opacity: 1; }
}

@keyframes animation_8 {
    0% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0.33; animation-timing-function: ease-in}
    100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,52,0,0,1); opacity: 1; }
}


.link-label {
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
a.link-label:hover{
    text-decoration: none;
}

