/*TODO REMOVE imports*/
@import url('common.css');

body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.b-main {
    background: url("/images/upload-d01bb0f1-b44c-11e8-9a0a-ed19b45a0cd0.jpg") 0 0 no-repeat;
    background-size: cover;
    min-height:649px;
}

.b-block {
    background-color:#0e0f0f;
}

.b-block-h {
    color:#eaeaea;
    font-family: qgnx;
    font-size:40px;
    line-height:51px;
    text-align:center;
}

.b-team {
    text-align:center;
}

.b-team-img {
    border-radius: 50%;
}